<div>
    <mat-card class="actions">
      <mat-card-title>{{ 'IMPORT_PLATFORMS' | translate}}</mat-card-title>
      <mat-card-content>
        <button *ngIf="importCsvFile === null || (importError$ | async)?.length !== 0; else activedbutton" (click)="send()" class="btn btn-disabled" disabled>{{ 'SEND' | translate }}</button> 
        <ng-template #activedbutton>
          <button (click)="send()" class="btn send">{{ 'SEND' | translate }}</button>
        </ng-template>
        <button (click)="return()" class="btn btn-danger">{{ 'CANCEL' | translate }}</button>        
      </mat-card-content>   
      <mat-card-content class="error" *ngIf="error$ | async" align="center">{{ error$ | async }}</mat-card-content>
      <mat-card-content class="msg" *ngIf="msg$ | async" align="start">{{ msg$ | async }}</mat-card-content>  
    </mat-card>
</div>
<div class="insideform">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>{{'IMPORT_CSV' | translate }}</mat-card-title> 
      <fa mat-card-sm-image [name]="'upload'" [border]=true [size]=2></fa> 
    </mat-card-title-group>
    <mat-card-content>
      {{'IMPORT_DESC' | translate }}    
    </mat-card-content>
    <mat-card-content class="warn" *ngIf="isAdmin$ | async">
      {{'IMPORT_DESC_ADMIN' | translate }}      
    </mat-card-content>
    <mat-card-footer class="footer">
      <h5 mat-subheader>{{ 'DOWNLOAD_CSV_PLATFORMS' | translate }} <span *ngIf="isAdmin$ | async">{{ 'DOWNLOAD_CSV_PLATFORMS_ADMIN' | translate }}</span></h5>
      <a *ngIf="!(isAdmin$ | async)" href="{{getCsvPlatformsUrl()}}" download>
          <fa [name]="'download'" [border]=true [size]=1></fa>
      </a>
      <a *ngIf="isAdmin$ | async" href="{{getCsvPlatformsUrlAdmin()}}" download>
          <fa [name]="'download'" [border]=true [size]=1></fa>
      </a>
    </mat-card-footer>
    <mat-card-actions align="start">
      <button (click)="fileInput.click()">
        <span>{{ 'IMPORT_CSV' | translate }}</span>
        <input #fileInput type="file" (change)="handleUpload($event)" style="display:none;"  accept=".csv"/>
      </button>
    </mat-card-actions>
    <mat-card-actions align="start" *ngIf="(importError$ | async)?.length > 0">
      <h2 class="errorPlat">{{'LIST_ERROR_PLATFORM' | translate}}</h2>
      <mat-list>
        <div *ngFor="let plat of (importError$ | async)">
          <mat-list-item class="errorPlat"> 
              {{plat}}
          </mat-list-item>
        </div>
      </mat-list>
    </mat-card-actions>
  </mat-card>

</div>