
    <mat-card class="actions" *ngIf="platform">
      <img mat-card-sm-image *ngIf="thumbnail" [src]="thumbnail"/>
      <mat-card-title><a class="link" (click)="toPlatforms()">{{ 'PLATFORM_LIST' | translate}}</a> / {{ 'PLATFORM' | translate}} {{ platform.code }}</mat-card-title>
      <mat-card-content>
        <div>{{ platform.description }}</div> 
      </mat-card-content>
      <mat-card-content class="msg" *ngIf="msg" align="start">{{ msg }}</mat-card-content> 
      <mat-card-actions>
        <form>
        <mat-form-field>
          <mat-select  placeholder="{{'DISPLAY' | translate}}" (selectionChange)="display($event.value)" [formControl]="panelDisplay">
              <mat-option [value]="'zones'">{{ 'ZONES' | translate}} ({{ (zones$ | async)?.length }})</mat-option>
              <mat-option [value]="'stations'">{{ 'STATIONS' | translate}} ({{ (stations$ | async)?.length }})</mat-option>
              <mat-option [value]="'surveys'">{{ 'SURVEYS' | translate}} ({{ (surveys$ | async)?.length }})</mat-option>
          </mat-select>
        </mat-form-field> 
        <mat-form-field class="right">
          <input type="text" matInput placeholder="{{ 'FILTER' | translate }}" [formControl]="filterFormControl" (keyup)="filter($event.target.value)">
        </mat-form-field>
        <mat-form-field class="right">
          <mat-select  placeholder="{{'ACTIONS' | translate}}" (selectionChange)="actions($event.value)">
            <mat-optgroup [label]="'ACTION_PLATFORM' | translate">
              <mat-option [value]="'platformForm'">{{ 'EDIT_PLATFORM' | translate}}</mat-option>
              <mat-option class="warn" [value]="'deletePlatform'">{{ 'DELETE_PLATFORM' | translate}}</mat-option>
            </mat-optgroup>
            <mat-optgroup [label]="('ADD_TO' | translate)+' '+('PLATFORM' | translate)">
              <mat-option [value]="'zoneForm'">{{ 'ADD_ZONE' | translate}}</mat-option>
              <mat-option [value]="'stationForm'">{{ 'ADD_STATION' | translate}}</mat-option>
              <mat-option [value]="'surveyForm'">{{ 'ADD_SURVEY' | translate}}</mat-option>
            </mat-optgroup>
            <mat-optgroup [label]="('IMPORT_TO' | translate)+' '+('PLATFORM' | translate)">
              <mat-option [value]="'zoneImport'">{{ 'IMPORT' | translate}} {{ 'ZONES' | translate}}</mat-option>
              <mat-option [value]="'surveyImport'">{{ 'IMPORT' | translate}} {{ 'SURVEYS' | translate}}</mat-option>
              <mat-option [value]="'stationImport'">{{ 'IMPORT' | translate}} {{ 'STATIONS' | translate}}</mat-option>
              <mat-option [value]="'zonePrefImport'">{{ 'IMPORT' | translate}} {{ 'ZONES_PREF' | translate}}</mat-option>
              <mat-option [value]="'countImport'">{{ 'IMPORT' | translate}} {{ 'COUNTS' | translate}}</mat-option>
            </mat-optgroup>
          </mat-select>          
        </mat-form-field>        
      </form>
      </mat-card-actions>
    </mat-card>

    <bc-zone-preview-list *ngIf="(view$ | async)==='zones'" [zones$]="filteredZones$" [idPlatform]="platform.code"></bc-zone-preview-list> 
    <bc-station-preview-list *ngIf="(view$ | async)==='stations'" [stations$]="filteredStations$" [platform]="platform"></bc-station-preview-list>
    <bc-survey-preview-list *ngIf="(view$ | async)==='surveys'" [surveys$]="filteredSurveys$" [platform]="platform"></bc-survey-preview-list> 
  
