
  <div [formGroup]="transectForm">
    <mat-card-content> 
      <mat-input-container>
        <input type="text" matInput placeholder="{{ 'TRANSECT_CODE' | translate }}" formControlName="code" required>
        <div class="hint">{{ 'TRANSECT_CODE_EX' | translate }}</div>
      </mat-input-container>       
    
      <mat-input-container>
        <input type="text" matInput placeholder="{{ 'TRANSECT_LONG' | translate }}" formControlName="longitude" required>m²
        <div class="hint">{{ 'TRANSECT_LONG_EX' | translate }}</div>    
      </mat-input-container>          
       
    
      <mat-input-container>
        <input type="text" matInput placeholder="{{ 'TRANSECT_LAT' | translate }}" formControlName="latitude" required>m²
        <div class="hint">{{ 'TRANSECT_LAT_EX' | translate }}</div>    
      </mat-input-container>          
    </mat-card-content>
    
    <mat-card-content>
      <mat-card formArrayName="counts" class="full">
          <mat-card-subtitle>{{ 'COUNTS' | translate }}</mat-card-subtitle>
          <div *ngFor="let count of transectForm.controls.counts.controls; let i=index;" class="panel">          
            <fa [name]="'times'" [border]=true [size]=1 [pull]=right *ngIf="transectForm.controls.counts.controls.length > 1" (click)="removeCount(i)"></fa>
            <div [formGroupName]="i">
             <!-- <bt-count-form [group]="transectForm.controls.counts.controls[i]"></bt-count-form>-->
            </div>
          </div>
          <mat-card-actions>
            <a class="action" (click)="addCount()">
              {{ 'ADD_COUNT' | translate }}
            </a>
          </mat-card-actions>
      </mat-card>
    </mat-card-content>
  </div>
