
<div class="container">
     <md-card *ngIf="isCountryOk"> 
      <md-card-title-group>
        <md-card-title>{{'SITES' | translate}} {{country.name}}</md-card-title>
        <fa [name]="'map-marker'" [border]=true [size]=3></fa>
      </md-card-title-group>
      <md-card-content>
          <h4>{{'SITE_MODIFY' | translate}}</h4>
          <div class="space-around">            
            <md-select *ngIf="(siteList$ | async)?.length>0"  placeholder="{{'SELECT_SITE' | translate}}" [(ngModel)]="site" (change)="loadZone()">
              <md-option *ngFor="let site of siteList$ | async" [value]="site">{{ site.code }}</md-option>
            </md-select>
             <button  *ngIf="(siteList$ | async)?.length>0" [disabled]="!site" (click)="editSite()" title="{{'EDIT' | translate}}"><fa [name]="'pencil'" [border]=false [size]=1></fa></button>
           
             <button (click)="newSiteForm()" title="{{'ADD' | translate}}"><fa [name]="'plus'" [border]=false [size]=1></fa></button>
             <button (click)="newSiteImport()" title="{{'IMPORT' | translate}}"><fa [name]="'upload'" [border]=false [size]=1></fa></button>           
          </div>
          <h4 *ngIf="site">{{'ZONE_MODIFY' | translate}}</h4>
          <div class="space-around" *ngIf="site">
            <md-select *ngIf="(zoneList$ | async)?.length>0" placeholder="{{'SELECT_ZONE' | translate}}" [(ngModel)]="zone">
              <md-option *ngFor="let zone of zoneList$ | async" [value]="zone">{{ zone.code }}</md-option>
            </md-select>
             <button *ngIf="(zoneList$ | async)?.length>0"  [disabled]="!zone" (click)="editZone()" title="{{'EDIT' | translate}}"><fa [name]="'pencil'" [border]=false [size]=1></fa></button>
             <button (click)="addZone()" title="{{'ADD' | translate}}"><fa [name]="'plus'" [border]=false [size]=1></fa></button>
             <button (click)="importZone()" title="{{'IMPORT' | translate}}"><fa [name]="'upload'" [border]=false [size]=1></fa></button>
          </div>
          
          <h4 *ngIf="zone">{{'TRANSECT_MODIFY' | translate}}</h4>
          <div class="space-around" *ngIf="zone">
            <md-select *ngIf="(transectList$ | async)?.length>0" placeholder="{{'SELECT_TRANSECT' | translate}}" [(ngModel)]="transect">
              <md-option *ngFor="let transect of transectList$ | async" [value]="transect">{{ transect.code }}</md-option>
            </md-select>
             <button *ngIf="(transectList$ | async)?.length>0"  [disabled]="!zone" (click)="editTransect()" title="{{'EDIT' | translate}}"><fa [name]="'pencil'" [border]=false [size]=1></fa></button>
             <button (click)="addTransect()" title="{{'ADD' | translate}}"><fa [name]="'plus'" [border]=false [size]=1></fa></button>
             <button (click)="importTransect()" title="{{'IMPORT' | translate}}"><fa [name]="'upload'" [border]=false [size]=1></fa></button>
          </div>
      </md-card-content>
    </md-card>    

    <md-card>
      <md-card-title-group>
        <md-card-title>{{'SPECIES' | translate}}</md-card-title>
        <fa [name]="'paw'" [border]=true [size]=3></fa>
      </md-card-title-group>
      <md-card-content>
        <div >
          <h4>{{'SPECIES_MODIFY' | translate}}</h4>
          <div class="space-around">
              <md-select *ngIf="(speciesList$ | async)?.length>0" placeholder="{{'SELECT_SPECIES' | translate}}" [(ngModel)]="species">
                <md-option *ngFor="let species of speciesList$ | async" [value]="species">{{ species.scientificName }}</md-option>
              </md-select>
            <button *ngIf="(speciesList$ | async)?.length>0" [disabled]="!species" (click)="editSpecies()" title="{{'EDIT' | translate}}"><fa [name]="'pencil'" [border]=false [size]=1></fa></button>

            <button (click)="newSpeciesForm()" title="{{'FORM' | translate}}"><fa [name]="'plus'" [border]=false [size]=1></fa></button>
            <button (click)="newSpeciesImport()" title="{{'IMPORT' | translate}}"><fa [name]="'upload'" [border]=false [size]=1></fa></button>
          </div>
        </div>
      </md-card-content>
    </md-card>    

</div>
 