    :host {
      display: flex;
      justify-content: center;
      margin: 75px 0;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }    
    md-card {
      max-width: 600px;
      min-width: 500px;
      min-height: 300px;
      margin: 15px;
    }
    md-card-title-group {
      margin-left: 0;
    }

    .space-around {
      display: flex;
      justify-content: space-around;
    }

    button[disabled] {
      cursor: not-allowed;
      box-shadow: none;
      opacity: .65;
   }