
<div *ngIf="isCountryOk">
  <div class="container">
    <md-card>
      <md-card-title-group>
        <md-card-title>{{'SPECIES' | translate}}</md-card-title>
        <fa [name]="'group'" [border]=true [size]=3></fa>
      </md-card-title-group>
      <md-card-content>
        <div>
          <h4>{{'CREATE' | translate}}</h4>
          <button (click)="newSpeciesForm()">{{'FORM' | translate}}</button>
          <button (click)="newSpeciesImport()">{{'IMPORT_CSV' | translate}}</button>
        </div>
        <div>
          <h4>{{'EDIT' | translate}}</h4>
          <div>SELECT</div>
          <button (click)="EditSpecies()">{{'EDIT' | translate}}</button>
        </div>
      </md-card-content>
    </md-card>    
  </div>
</div>
 