<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'HOME' | translate}}</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'ABOUT' | translate}}</a>
  <a [routerLink]="['/find']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'FIND' | translate}}</a>
  <a [routerLink]="['/books']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'BOOKS' | translate}}</a>
  <a [routerLink]="['/map']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'MAP' | translate}}</a>
  <a [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'LOGIN' | translate}}</a>
</nav>

