<mat-card>
  <mat-card-title>{{'ANALYSE_TITLE' | translate}}</mat-card-title>
</mat-card>
 
    <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
      <ng-template matStepperIcon="edit">
        <mat-icon>insert_drive_file</mat-icon>
      </ng-template>

      <ng-template matStepperIcon="done">
        <fa [name]="'file-pdf-o'" [border]=true [size]=3></fa>
      </ng-template>

      <!-- Custom icon with a context variable. -->
      <ng-template matStepperIcon="number" let-index="index">
        {{index + 10}}
      </ng-template>
      <mat-step [stepControl]="countryFormGroup">
        <form [formGroup]="countryFormGroup" *ngIf="isAdmin">
          <ng-template matStepLabel>{{ 'SELECT_COUNTRY' | translate}}</ng-template>
          <bc-analyse-country [countries]="countries" (countryEmitter)="setCountry($event)" [form]="countryFormGroup" [inputName]="'country'"></bc-analyse-country>
          <div>
            <button mat-button matStepperNext>{{ 'NEXT' | translate}}</button>
          </div>
        </form>
      </mat-step>
      
      <mat-step [stepControl]="platformsFormGroup">
        <form [formGroup]="platformsFormGroup">
          <ng-template matStepLabel>{{ 'SELECT_PLATFORM' | translate}}</ng-template>
          <bc-analyse-platform [platforms$]="platforms$" (platformEmitter)="setPlatforms($event)" [group]="platformsFormGroup"></bc-analyse-platform>
          <div>
            <button mat-button *ngIf="isAdmin"  matStepperPrevious>{{ 'BACK' | translate}}</button>
            <button mat-button matStepperNext>{{ 'NEXT' | translate}}</button>
          </div>
        </form>
      </mat-step>
      
      <mat-step [stepControl]="yearsFormGroup">
        <form [formGroup]="yearsFormGroup">
          <ng-template matStepLabel>{{ 'SELECT_YEARS' | translate}}</ng-template>
          <bc-analyse-year [years$]="years$" (yearEmitter)="setYears($event)" [group]="yearsFormGroup"></bc-analyse-year>
          <div>
            <button mat-button  matStepperPrevious>{{ 'BACK' | translate}}</button>
            <button mat-button matStepperNext>{{ 'NEXT' | translate}}</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="surveysFormGroup">
        <form [formGroup]="surveysFormGroup">
          <ng-template matStepLabel>{{ 'SELECT_SURVEYS' | translate}}</ng-template>
  
          <bc-analyse-survey [surveys$]="surveys$" (surveyEmitter)="setSurveys($event)" [group]="surveysFormGroup"></bc-analyse-survey>
          <div>
            <button mat-button matStepperPrevious>{{ 'BACK' | translate}}</button>
            <button mat-button matStepperNext>{{ 'NEXT' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="zonesFormGroup">
        <form [formGroup]="zonesFormGroup">
          <ng-template matStepLabel>{{ 'SELECT_ZONES' | translate}}</ng-template>
           <bc-analyse-zone [zones$]="zones$" (zoneEmitter)="setZones($event)" [group]="zonesFormGroup"></bc-analyse-zone>
          <div>
            <button mat-button matStepperPrevious>{{ 'BACK' | translate}}</button>
            <button mat-button matStepperNext>{{ 'NEXT' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="transectsFormGroup" [optional]="true">
        <form [formGroup]="transectsFormGroup">
          <ng-template matStepLabel>{{ 'SELECT_TRANSECTS' | translate}}</ng-template>
         <bc-analyse-transect [transects$]="transects$" (transectEmitter)="setTransects($event)" [group]="transectsFormGroup"></bc-analyse-transect>
          <div>
            <button mat-button matStepperPrevious>{{ 'BACK' | translate}}</button>
            <button mat-button matStepperNext>{{ 'NEXT' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="speciesFormGroup">
        <form [formGroup]="speciesFormGroup">
          <ng-template matStepLabel>{{ 'SELECT_MANY_SPECIES' | translate}}</ng-template>
          <bc-analyse-species [species$]="species$" (speciesEmitter)="setSpecies($event)" [group]="speciesFormGroup"></bc-analyse-species>
          <div>
            <button mat-button matStepperPrevious>{{ 'BACK' | translate}}</button>
            <button mat-button matStepperNext>{{ 'NEXT' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="analyseFormGroup">
        <form [formGroup]="analyseFormGroup">
          <ng-template matStepLabel>{{ 'START_ANALYSE' | translate}}</ng-template>
          
          <button mat-button (click)="stepper.submit()">{{ 'START_ANALYSE' | translate}}</button>
        </form>
        <div>
          <button mat-button matStepperPrevious>{{ 'BACK' | translate}}</button>
          <button mat-button (click)="stepper.reset()">{{ 'RESET' | translate}}</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
     
