<mat-card>
  <mat-card-title>{{'ANALYSE_TITLE' | translate}}</mat-card-title>
</mat-card>
 
    <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
      <ng-template matStepperIcon="edit">
        <fa [name]="'check'" [border]=false [size]=1></fa>
      </ng-template>

      <ng-template matStepperIcon="done">
        <fa [name]="'check'" [border]=false [size]=1></fa>
      </ng-template>

      <mat-step [stepControl]="countryFormGroup" *ngIf="isAdmin">
        <form [formGroup]="countryFormGroup">
          <ng-template matStepLabel>{{ 'COUNTRY' | translate}}</ng-template>
          <bc-analyse-country [countries]="countries" (countryEmitter)="setCountry($event)" [form]="countryFormGroup" [inputName]="'country'"></bc-analyse-country>
          <div *ngIf="(platforms$ | async)?.length==0" class="norecord">{{ 'NO_PLATFORM' | translate}}</div> 
          <div>
            <button mat-button [disabled]="(platforms$ | async)?.length<=0" matStepperNext>{{ 'NEXT' | translate}}</button>
          </div>
        </form>
      </mat-step>
      
      <mat-step [stepControl]="platformsFormGroup">
        <form [formGroup]="platformsFormGroup">
          <ng-template matStepLabel>{{ 'PLATFORMS' | translate}}</ng-template>
          <bc-analyse-platform [platforms$]="platforms$" (platformEmitter)="setPlatforms($event)" [group]="platformsFormGroup"></bc-analyse-platform>
          <div *ngIf="(years$ | async)?.length==0" class="norecord">{{ 'NO_YEARS' | translate}}</div> 
          <div>
            <button mat-button *ngIf="isAdmin"  matStepperPrevious>{{ 'BACK' | translate}}</button>
            <button mat-button [disabled]="(years$ | async)?.length<=0" matStepperNext>{{ 'NEXT' | translate}}</button>
          </div>
        </form>
      </mat-step>
      
      <mat-step [stepControl]="yearsFormGroup">
        <form [formGroup]="yearsFormGroup">
          <ng-template matStepLabel>{{ 'YEARS' | translate}}</ng-template>
          <bc-analyse-year [years$]="years$" (yearEmitter)="setYears($event)" [group]="yearsFormGroup"></bc-analyse-year>
          <div *ngIf="(surveys$ | async)?.length==0" class="norecord">{{ 'NO_SURVEYS' | translate}}</div> 
          <div>
            <button mat-button matStepperPrevious>{{ 'BACK' | translate}}</button>
            <button mat-button [disabled]="(surveys$ | async)?.length<=0" matStepperNext>{{ 'NEXT' | translate}}</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="surveysFormGroup">
        <form [formGroup]="surveysFormGroup">
          <ng-template matStepLabel>{{ 'SURVEYS' | translate}}</ng-template>
          <bc-analyse-survey [surveys$]="surveys$" [locale]="locale" (surveyEmitter)="setSurveys($event)" [group]="surveysFormGroup"></bc-analyse-survey>
          <div *ngIf="(zones$ | async)?.length==0" class="norecord">{{ 'NO_ZONES' | translate}}</div> 
          <div>
            <button mat-button matStepperPrevious>{{ 'BACK' | translate}}</button>
            <button mat-button [disabled]="(zones$ | async)?.length<=0" matStepperNext>{{ 'NEXT' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="zonesFormGroup">
        <form [formGroup]="zonesFormGroup">
          <ng-template matStepLabel>{{ 'ZONES' | translate}}</ng-template>
           <bc-analyse-zone [zones$]="zones$" (zoneEmitter)="setZones($event)" [group]="zonesFormGroup"></bc-analyse-zone>
           <div *ngIf="(stations$ | async)?.length==0" class="norecord">{{ 'NO_STATIONS' | translate}}</div> 
          <div>
            <button mat-button matStepperPrevious>{{ 'BACK' | translate}}</button>
            <button mat-button [disabled]="(stations$ | async)?.length<=0" matStepperNext>{{ 'NEXT' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="stationsFormGroup" [optional]="true">
        <form [formGroup]="stationsFormGroup">
          <ng-template matStepLabel>{{ 'STATIONS' | translate}}</ng-template>
         <bc-analyse-station [stations$]="stations$" (stationEmitter)="setStations($event)" [group]="stationsFormGroup"></bc-analyse-station>
         <div *ngIf="(species$ | async)?.length==0" class="norecord">{{ 'NO_SPECIES' | translate}}</div> 
          <div>
            <button mat-button matStepperPrevious>{{ 'BACK' | translate}}</button>
            <button mat-button [disabled]="(species$ | async)?.length<=0" matStepperNext>{{ 'NEXT' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="speciesFormGroup">
        <form [formGroup]="speciesFormGroup">
          <ng-template matStepLabel>{{ 'SPECIES' | translate}}</ng-template>
          <bc-analyse-species [species$]="species$" [currentCountry$]="currentCountry$" [locale]="locale" (speciesEmitter)="setSpecies($event)" (dimensionsEmitter)="setDimensions($event)" [group]="speciesFormGroup"></bc-analyse-species>
          <div *ngIf="nspecies<=0" class="norecord">{{ 'NO_SP_SELECTED' | translate}}</div> 
          <div>
            <button mat-button matStepperPrevious>{{ 'BACK' | translate}}</button>
            <button mat-button [disabled]="nspecies<=0" matStepperNext>{{ 'NEXT' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="analyseFormGroup">
        <form [formGroup]="analyseFormGroup">
          <ng-template matStepLabel>{{ 'START_ANALYSE' | translate}}</ng-template>
          <bc-analyse-method (methodEmitter)="setMethod($event)" [form]="analyseFormGroup" [inputName]="'analyseType'"></bc-analyse-method>
          
        </form>
        <div>
          <button mat-button (click)="startAnalyse()">{{ 'START_ANALYSE' | translate}}</button>
          <button mat-button matStepperPrevious>{{ 'BACK' | translate}}</button>
          <button mat-button (click)="stepper.reset()">{{ 'RESET' | translate}}</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
     
