 mat-card-title, mat-card-content {
    display: flex;
    justify-content: center;
  }

  .main {
    margin: 72px 0;
  }


  mat-horizontal-stepper {
    margin: 72px;
  }

  div.row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

.norecord {
  color: orange;
  padding-bottom:10px;
  font-size: smaller;
  font-style: italic;
}


button[disabled] {
  cursor: not-allowed;
  box-shadow: none;
  opacity: .65;
}