<mat-card>
  <mat-card-title>{{'ANALYSE_TITLE' | translate}}</mat-card-title>
</mat-card>
 
    <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
      <mat-step [stepControl]="countryFormGroup">
        <form [formGroup]="countryFormGroup" *ngIf="isAdmin">
          <ng-template matStepLabel>Select country</ng-template>
          <mat-form-field>
            <mat-select placeholder="{{ 'SELECT_COUNTRY' | translate}}" formControlName="country" (change)="setCountry($event.value)" required>
                <mat-option *ngFor="let pays of countries" [value]="pays">{{ pays.name }}</mat-option>
            </mat-select>
          </mat-form-field> 
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="campaignsFormGroup">
        <form [formGroup]="campaignsFormGroup">
          <ng-template matStepLabel>Select campaign(s)</ng-template>
          <mat-form-field>
            <mat-select placeholder="{{ 'SELECT_CAMPAIGNS' | translate}}" formControlName="campaigns" (change)="setCampaigns($event.value)" multiple required>
                <mat-select-trigger>
                  {{campaignsFormGroup.controls.campaigns.value ? campaignsFormGroup.controls.campaigns.value[0] : 'yo'}}
                  <span *ngIf="campaignsFormGroup.controls.campaigns.value?.length > 1">
                    (+{{campaignsFormGroup.controls.campaigns.value.length - 1}} others)
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let campaign of campaigns" [value]="campaign">{{campaign.code}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button *ngIf="isAdmin"  matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="zonesFormGroup">
        <form [formGroup]="zonesFormGroup">
          <ng-template matStepLabel>Select Zone(s)</ng-template>
          <mat-tab-group>
            <mat-tab *ngFor="let zones of zonesFormGroup.controls.campaigns.controls; let i = index;">
                <ng-template mat-tab-label>{{currentCampaigns[i].code}}</ng-template>
                <p>
                    {{currentCampaigns[i].dateStart | date:localDate}}, {{currentCampaigns[i].dateEnd | date:localDate}}
                </p>
                <p>
                    {{'PARTICIPANTS' | translate}}: {{currentCampaigns[i].participants}}
                </p>
                <mat-form-field [formGroup]="zones">
                    <mat-select placeholder="{{ 'SELECT_ZONES' | translate}}" formControlName="zones" (change)="setZones($event.value)" multiple required>
                        <mat-option *ngFor="let zone of zonesList[i]" [value]="zone">{{zone.code}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-tab>
          </mat-tab-group>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="transectsFormGroup" [optional]="true">
        <form [formGroup]="transectsFormGroup">
          <ng-template matStepLabel>Select Transect(s)</ng-template>
          <!--<mat-tab-group>
            <mat-tab *ngFor="let transects of transectsList; let j = index;">
                <ng-template mat-tab-label>{{currentCampaigns[j].code}}</ng-template>
                <p>
                    {{currentCampaigns[j].dateStart | date:localDate}}, {{currentCampaigns[j].dateEnd | date:localDate}}
                </p>
                <p>
                    {{'PARTICIPANTS' | translate}}: {{currentCampaigns[j].participants}}
                </p>
                <mat-form-field>
                    <mat-select placeholder="{{ 'SELECT_TRANSECTS' | translate}}" formControlName="transects" multiple required>                       
                        <mat-option *ngFor="let transect of transects" [value]="transect">{{transect.code}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-tab>
        </mat-tab-group>-->
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="speciesFormGroup">
        <form [formGroup]="speciesFormGroup">
          <ng-template matStepLabel>Select Species</ng-template>
         <!-- <mat-form-field>
            <mat-select placeholder="{{ 'SELECT_SPECIES' | translate}}" formControlName="species" multiple required>
                <mat-option *ngFor="let sp of species" [value]="sp">{{sp.code}}</mat-option>
            </mat-select>
          </mat-form-field> -->
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="analyseFormGroup">
        <form [formGroup]="analyseFormGroup">
          <ng-template matStepLabel>Start Analyse</ng-template>
          
          <button mat-button (click)="stepper.submit()">Start Analyse</button>
        </form>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
     
