 mat-card-title, mat-card-content {
    display: flex;
    justify-content: center;
  }

  .main {
    margin: 72px 0;
  }


  mat-horizontal-stepper {
    margin: 72px;
  }

  div.row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
