
    <mat-card class="actions">
      <img mat-card-sm-image *ngIf="thumbnail" [src]="thumbnail"/>
      <mat-card-title><a class="link" (click)="toSites()">{{ 'SITE_LIST' | translate}}</a> / <a class="link" (click)="toSite()">{{ 'SITE' | translate}} {{ site.code }}</a> / <a class="link" (click)="toZone()">{{ 'ZONE' | translate}} {{ zone.code }}</a> / {{ 'CAMPAIGN' | translate}} {{ campaign.code }}</mat-card-title>
      <mat-card-content>
        {{ 'CAMPAIGN_DATES' | translate }} : {{ campaign.dateStart | date:localDate  }}, {{ campaign.dateEnd | date:localDate  }}
      </mat-card-content>
      <mat-card-content>
        {{ 'PARTICIPANTS' | translate }} : {{ campaign.participants }}
      </mat-card-content>
      <mat-card-content>
        {{ 'SURFACE_TRANSECT' | translate }} : {{ campaign.surfaceTransect }}
      </mat-card-content>
      <mat-card-content>
        {{ 'DESCRIPTION' | translate }} : {{ campaign.description }}
      </mat-card-content>
      <mat-card-actions>
        <mat-form-field>
          <mat-select  placeholder="{{'ACTIONS' | translate}}" (change)="actions($event.value)">
              <mat-option [value]="'campaignForm'">{{ 'EDIT_CAMPAIGN' | translate}}</mat-option>
              <mat-option [value]="'countForm'">{{ 'ADD_COUNT' | translate}}</mat-option>
              <mat-option [value]="'countImport'">{{ 'IMPORT' | translate}} {{ 'COUNTS' | translate}}</mat-option>
              <mat-option class="warn" [value]="'deleteCampaign'">{{ 'DELETE_CAMPAIGN' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>        
      </mat-card-actions>       
    </mat-card>

    <bc-count-preview-list [counts]="counts$ | async" [campaign]="campaign" [zone]="zone" [site]="site"></bc-count-preview-list>  
 