<div>
    <mat-card class="actions">
      <mat-card-title>{{ 'IMPORT_COUNTS' | translate}}</mat-card-title>
      <mat-card-content>
        <button *ngIf="importCsvFile === null || importError.length !== 0 || error !== null; else activedbutton" (click)="send()" class="btn btn-disabled" disabled>{{ 'SEND' | translate }}</button>
        <ng-template #activedbutton>
          <button (click)="send()" class="btn send">{{ 'SEND' | translate }}</button>
        </ng-template>
        <button (click)="cancel()" class="back">{{ 'CANCEL' | translate }}</button>
      </mat-card-content>
      <mat-card-content class="error" *ngIf="error !== null && error !== 'TOO_MUCH_ENTITY_COUNT'" align="center">{{ 'ERROR_CSV_FIELD' | translate }} {{ error }}</mat-card-content>
      <mat-card-content class="error" *ngIf="error !== null && error === 'TOO_MUCH_ENTITY_COUNT'" align="center">{{ error | translate }}</mat-card-content>
      <mat-card-content class="error" *ngIf="importError.length > 0" align="center">{{ 'ERROR_IMPORT' | translate }}</mat-card-content>
      <mat-card-content class="msg" *ngIf="importError.length === 0 && importCsvFile !== null && error === null" align="start">{{ 'VALID_IMPORT' | translate }}</mat-card-content>
    </mat-card>
</div>
<div class="insideform" [formGroup]="countForm">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>{{'IMPORT_CSV' | translate }}</mat-card-title>
      <fa mat-card-sm-image [name]="'upload'" [border]=true [size]=2></fa>
    </mat-card-title-group>
    <mat-card-content>
      {{'IMPORT_DESC' | translate }}
    </mat-card-content>
    <mat-card-content class="warn">
      {{'IMPORT_DESC_DATE' | translate }}
    </mat-card-content>
    <mat-card-footer class="footer">
      <h5 mat-subheader>{{ 'DOWNLOAD_CSV_COUNTS' | translate }}</h5>
      <a href="{{csvCountsUrlTpe1}}" *ngIf="country.platformType===0" download>
          <fa [name]="'download'" title="{{'CSV_COUNT_TYPE1' | translate}}" [border]=true [size]=1></fa>
      </a>
      <a href="{{csvCountsUrlTpe2}}" *ngIf="country.platformType===1" download>
          <fa [name]="'download'"  title="{{'CSV_COUNT_TYPE2' | translate}}" [border]=true [size]=1></fa>
      </a>
    </mat-card-footer>
    <mat-card-actions align="start">
      <button (click)="fileInput.click(); clearInput()">
        <span>{{ 'IMPORT_CSV' | translate }}</span>
        <input #fileInput formControlName="countInputFile" type="file" (change)="handleUpload($event)" style="display:none;"  accept=".csv"/>
      </button>
    </mat-card-actions>

    <mat-card-actions align="start" *ngIf="importError.length > 0">
      <h2 class="errorCount">{{'LIST_ERROR_COUNT' | translate}}</h2>
      <mat-list>
        <div *ngFor="let count of importError">
          <mat-list-item class="errorCount">
              {{count}}
          </mat-list-item>
        </div>
      </mat-list>
    </mat-card-actions>

    <bc-count-import-map [error]="error" [importError]="importError" [platform]="platform" [countries]="countries" [newCounts]="newCounts$ | async"></bc-count-import-map>
  </mat-card>
</div>
