<form [formGroup]="countForm" (ngSubmit)="submit()">  
  <div>
    <mat-card class="actions">
      <mat-card-title>{{ 'ADD_COUNT_TO' | translate}} {{ campaign.code }}</mat-card-title>
      
      <mat-card-content>
        <button type="submit" class="btn btn-primary" [disabled]="!countForm.valid">{{ 'SUBMIT' | translate }}</button>
        <button (click)="return()" class="back">{{ 'CANCEL' | translate }}</button>
        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>  
      </mat-card-content>
    </mat-card>
  </div>

  <div class="insideform">
    <mat-card class="column">
      <h5 mat-subheader>{{ 'COUNT_DESC' | translate }}</h5>
      <div class="row">
        <mat-input-container>
          <input type="text" matInput placeholder="{{ 'COUNT_CODE' | translate }}" formControlName="code" required>
          <div class="hint">{{ 'COUNT_CODE_EX' | translate }} &nbsp;&nbsp;&nbsp;<span class="forbidden">{{ 'EX_SITE_CODE_FORBIDDEN' | translate }}</span></div>
        </mat-input-container>
      </div>
      <div class="row">
        <mat-input-container>
          <input type="text" matInput placeholder="{{ 'CAMPAIGN_CODE' | translate }}" formControlName="codeCampaign" required>
          <div class="hint">{{ 'EX_COUNT_CAMPAIGN' | translate }}</div>
        </mat-input-container>

        <mat-input-container>
          <input type="text" matInput placeholder="{{ 'ZONE_CODE' | translate }}" formControlName="codeZone" required>
          <div class="hint">{{ 'EX_TRANSECT_ZONE' | translate }}</div>
        </mat-input-container>

        <mat-input-container>
          <input type="text" matInput placeholder="{{ 'SITE' | translate }}" formControlName="codeSite">
          <div class="hint">{{ 'EX_ZONE_SITE' | translate }}</div> 
        </mat-input-container>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-select  placeholder="{{'TRANSECT_SELECT' | translate}}" formControlName="codeTransect" required>
            <mat-option *ngFor="let tr of transects" [value]="tr.code">{{ tr.code }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput [matDatepicker]="Datepicker" placeholder="{{ 'DATE' | translate }}" formControlName="date" required>
          <mat-datepicker-toggle matSuffix [for]="Datepicker"></mat-datepicker-toggle>
          <mat-datepicker #Datepicker></mat-datepicker>
        </mat-form-field>         
      </div>
      <div class="column">
          <h5 mat-subheader>{{ 'MESURES' | translate }} </h5>
          <mat-checkbox *ngIf="countForm.controls.mesures.controls[0]" formControlName="monospecies">{{ 'MONOSPECIES' | translate }}</mat-checkbox>
          <div formArrayName="mesures">
            <div *ngFor="let name of countForm.controls.mesures.controls; let j=index; let first=first;" [formGroupName]="j">          
              <fa class="warn clickable" [name]="'times'" [border]=false [size]=1 [pull]=right (click)="removeMesure(j)"></fa>
              <bt-mesure [group]="countForm.controls.mesures.controls[j]" [species]="species"></bt-mesure>
            </div>
            <div *ngIf="!countForm.controls.mesures.controls[0]">{{ 'NO_INVERTEBRATES' | translate }}</div>
            <mat-card-actions>
              <button mat-raised-button color="warn" (click)="addMesure()">
               {{ 'ADD_MESURE' | translate }}
             </button>
           </mat-card-actions>
          </div>
      </div>
    </mat-card>
  </div>

</form>
