mat-card {
  display: flex;
  flex-direction: column;
}

.actions {
  text-align: center;
}
.inside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      margin: 72px 0;
    }
.inside mat-card {
      flex-grow: 1;
      margin:auto;
      min-width: 300px;
      text-align: left;
      padding: 1em 2em;
}

mat-card-title {
    font-style: italic;
}
mat-card-content {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
}
mat-card-content.one{
    display: flex;
    justify-content:start;
}
mat-card-actions {
  display: flex;
  justify-content: center;
}
mat-form-field {
  margin-left:50px;
}
.warn {
   background-color: #d9534f;
}
.link {
  cursor: pointer;
  text-decoration: underline;
}
.speciesName {
 font-style: italic;
}
.mesures {
  padding-top: 5px;
  margin-left: 15px;
}

    hr {
      border-color: #fff;
    }
    .wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    .wrapp_left {
      flex: 50%;
      max-width: 50%;
    }

    bc-view-count-map {
      flex: 50%;
      max-width: 50%;
    }
    @media screen and (max-width: 800px) {
      .wrapper {
        .wrapp_left {
          flex: 100%;
          max-width: 100%;
        }

        bc-view-count-map {
          flex: 100%;
          max-width: 100%;
        }
      }
    }
