:host {
  color: white;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.background {  
  background: url("assets/img/overlay.png"), url("assets/img/Ressources-6-P.DUMAS.jpg");
  background-size: 256px 256px, cover;
  background-attachment: fixed;
  background-position: top,left,bottom,center;
  background-repeat: repeat, no-repeat;
  background-color: rgba(0,0,0,0.2);
  width: 100vw;
  height:100vh;
  position: absolute;  
  top:0;
  left:0;
  filter: blur(5px) brightness(80%);
  z-index: -1;
}

.title_without_map{
  padding: 150px 0 30px;
  text-align: center;
  width: 100vw;

  h2 {
    font-size: 56px;
  }

  p {
    font-size: 36px;
  }
}



input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

a.link {
  color: #00e;
  cursor: pointer;
  text-decoration: underline;
}

a.link:hover {
  color: #f00;
}

bc-home-map {
  height: -webkit-calc(100vh - 96px);
  height:    -moz-calc(100vh - 96px);
  height:         calc(100vh - 96px);
  width: 100%;
}

.home{
  width: 100%;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
}

.wrapp_left{
  flex: 50%;
  max-width: 50%;

  .background_left {  
    background: url("assets/img/overlay.png"), url("assets/img/Ressources-6-P.DUMAS.jpg");
    background-size: 256px 256px, cover;
    background-position: center center;
    background-repeat: repeat, no-repeat;
    background-color: rgba(0,0,0,0.2);
    width: 50vw;
    height:100vh;
    position: absolute;  
    top:0;
    left:0;
    filter: blur(5px) brightness(80%);
    z-index: -1;
  }

  .title{
    padding: 0 30px;
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
    
    h2{
      margin:0;
      padding: 0;
      font-size: 56px;
    }

    p{
      line-height: normal;
      font-size: 36px;
    }
  }

}

.wrapp_right{
  flex: 50%;
  max-width: 50%;
}

@media screen and (max-width: 800px) {

  .wrapper{
    width: 100vw;

    .wrapp_left{
      flex: 100%;
      max-width: 100%;
      height: -webkit-calc(50vh - 96px);
      height:    -moz-calc(50vh - 96px);
      height:         calc(50vh - 96px);

      .background_left {  
        width: 100vw;
        height:100vh;
      }

      .title{
        transform: translateY(-60%);
      }
    }

    .wrapp_right{
      flex: 100%;
      max-width: 100%;
      
      bc-home-map {
        height:50vh;
      }
    }
  }
}