<ng-template #notloggedin>
	<div class="background"></div>
	<h2>
	{{ 'APP_TITLE' | translate }}
	</h2>
	<p>
		{{'APP_SUBTITLE' | translate}}
	</p>
</ng-template>

<div class="home" *ngIf="loggedIn;else notloggedin">
	<div class="background">
	</div>
	<div class="wrapper" *ngIf="onlineOffline;else nomap">
		<div class="wrapp_left">
			<h2>
			{{ 'APP_TITLE' | translate }}
			</h2>
			<p>
				{{'APP_SUBTITLE' | translate}}
			</p>
		</div>
		<div class="wrapp_right">
			<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (zoomChange)="zoomChange($event)">
				<div *ngFor="let platform of (platforms$ | async)">
					<div *ngFor="let zone of (platform.zones)">
						<agm-data-layer [geoJson]="zone" (layerClick)="zoomLayer($event)">
						</agm-data-layer>
						<div *ngIf="zoom > 10" >
							<agm-marker *ngFor="let transect of (zone.transects)"
								[latitude]="transect.geometry.coordinates[1]"
						   		[longitude]="transect.geometry.coordinates[0]"
						   		label="T">
							</agm-marker>
						</div>
					</div>
				</div>

				<div *ngIf="zoom < 6" >
					<agm-marker *ngFor="let marker of (markers)"
						[latitude]="marker.lat"
				   		[longitude]="marker.lng"
				   		(markerClick)="zoomMarker(marker)">
					</agm-marker>
				</div>


			</agm-map>
		</div>
	</div>

	<ng-template #nomap>
		<div class="background"></div>
		<h2>
		{{ 'APP_TITLE' | translate }}
		</h2>
		<p>
			{{'APP_SUBTITLE' | translate}}
		</p>
	</ng-template>
</div>