

<div class="home">
	<div [class.wrapper]="isOnline" >
		<div [class.wrapp_left]="(loggedIn$ | async)">
			<div [class.background]="!(loggedIn$ | async)" [class.background_left]="(loggedIn$ | async)">
			</div>
			<div [class.title_without_map]="!(loggedIn$ | async)" [class.title]="(loggedIn$ | async)">
				<h2>
				{{ 'APP_TITLE' | translate }}
				</h2>
				<p>
					{{'APP_SUBTITLE' | translate}}
				</p>
			</div>
		</div>
		<!--div class="wrapp_right" *ngIf="(loggedIn$ | async) && isOnline">-->
			<bc-home-map class="wrapp_right" *ngIf="(loggedIn$ | async) && isOnline"
				[platforms]="platforms$ | async"
				[countries]="(isAdmin$ | async)?(countries$ | async):([(userCountry$ | async)])"></bc-home-map>
		<!--</div-->
	</div>
</div>