<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
  	<fa [name]="'home'" [border]=true></fa>
  	{{'HOME' | translate}}
  </a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
	<fa [name]="'info-circle'" [border]=true></fa>
  	{{'ABOUT' | translate}}
  </a>
  <a [routerLink]="['/find']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'FIND' | translate}}</a>
  <a [routerLink]="['/books']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'BOOKS' | translate}}</a>
  <a [routerLink]="['/map']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'MAP' | translate}}</a>

  <a *ngIf="(isLogged$ | async)" [routerLink]="['/management']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
    <fa [name]="'database'" [border]=true></fa>
    {{'MANAGE' | translate}}
  </a>

  <a *ngIf="(isLogged$ | async) && ((currentCountry$ | async)?.code==='AA')" [routerLink]="['/species']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
    <fa [name]="'paw'" [border]=true></fa>
    {{'MENU_SPECIES' | translate}}
  </a>

  <a *ngIf="(isLogged$ | async) && ((currentCountry$ | async)?.code==='AA')" [routerLink]="['/countries']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
    <fa [name]="'flag'" [border]=true></fa>
    {{'MENU_COUNTRIES' | translate}}
  </a>

  <a *ngIf="!(isLogged$ | async)" [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
	<fa [name]="'sign-in'" [border]=true></fa>
  	{{'LOGIN' | translate}}
  </a>

  <a *ngIf="(isLogged$ | async)" [routerLink]="['/logout']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
  <fa [name]="'sign-out'" [border]=true></fa>
    {{'LOGOUT' | translate}}
  </a>

  <a class="hello" *ngIf="currentUser$ | async; let user">Bonjour {{user.surname}} {{user.name}}</a>
</nav>

