:host {
  border: 0 solid #e1e1e1;
  border-bottom-width: 1px;
  display: block;
  height: 48px;
  padding: 0 16px;
  background-color: #fff;
}

nav a {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

nav a.router-link-active {
  color: #106cc8;
}

nav .hello {
  float:right;
}

mat-sidenav-container{
  display: none;
}



@media screen and (max-width: 1200px) {
  .mat-drawer-container{
    background: none;
  }

  :host{
    padding: 0;
  }

  nav{
    display: none!important;
  }
  mat-sidenav-content{
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    padding: 0 16px;
  }

  .open{
    margin-left: 40px;
  }
  mat-sidenav{
    height: 100vh;
    width: auto;
  }


  mat-sidenav-container{
    display: inline-block;
    height: -webkit-calc(100vh - 55px);
    height:    -moz-calc(100vh - 55px);
    height:         calc(100vh - 55px);
    margin: 0;
    width: auto;

    a {
      color: #8f8f8f;
      font-size: 14px;
      font-weight: 500;
      line-height: 48px;
      margin-right: 20px;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
    }
  }
}