<div>
    <mat-card class="actions">
      <mat-card-title>{{ 'IMPORT_SURVEYS' | translate}}</mat-card-title>
      <mat-card-content>
        <button *ngIf="importCsvFile === null || (importError$ | async)?.length !== 0 || error !== null; else activedbutton" (click)="send()" class="btn btn-disabled" disabled>{{ 'SEND' | translate }}</button> 
        <ng-template #activedbutton>
          <button (click)="send()" class="btn send">{{ 'SEND' | translate }}</button>
        </ng-template>
        <button (click)="back.emit()" class="back">{{ 'CANCEL' | translate }}</button>        
      </mat-card-content>   
      <mat-card-content class="error" *ngIf="error !== null" align="center">{{ 'ERROR_CSV_FIELD' | translate }} {{ error }}</mat-card-content>
      <mat-card-content class="error" *ngIf="(importError$ | async)?.length > 0" align="center">{{ 'ERROR_IMPORT' | translate }}</mat-card-content>
      <mat-card-content class="msg" *ngIf="(importError$ | async)?.length === 0 && importCsvFile !== null && error === null" align="start">{{ 'VALID_IMPORT' | translate }}</mat-card-content>    
    </mat-card>
</div>
<div class="insideform">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>{{'IMPORT_CSV' | translate }}</mat-card-title> 
      <fa mat-card-sm-image [name]="'upload'" [border]=true [size]=2></fa> 
    </mat-card-title-group>
    <mat-card-content>
      {{'IMPORT_DESC' | translate }}    
    </mat-card-content>
    <mat-card-content class="warn">
      {{'IMPORT_DESC_DATE' | translate }}      
    </mat-card-content>
    <mat-card-footer class="footer">
      <h5 mat-subheader>{{ 'DOWNLOAD_CSV_SURVEYS' | translate }}</h5>
      <a *ngIf="!isAdmin" href="{{getCsvSurveysUrl()}}" download>
          <fa [name]="'download'" [border]=true [size]=1></fa>
      </a>
    </mat-card-footer>
    <mat-card-actions align="start">
      <button (click)="fileInput.click()">
        <span>{{ 'IMPORT_CSV' | translate }}</span>
        <input #fileInput type="file" (change)="handleUpload($event)" style="display:none;"  accept=".csv"/>
      </button>
    </mat-card-actions>

    <mat-card-actions align="start" *ngIf="(importError$ | async)?.length > 0">
      <h2 class="errorSurvey">{{'LIST_ERROR_SURVEY' | translate}}</h2>
      <mat-list>
        <div *ngFor="let survey of (importError$ | async)">
          <mat-list-item class="errorSurvey"> 
              {{survey}}
          </mat-list-item>
        </div>
      </mat-list>
    </mat-card-actions>
  </mat-card>
</div>

