<form [formGroup]="surveyForm" (ngSubmit)="submit()">  
  <div>
    <mat-card class="actions">
      <mat-card-title>{{ 'ADD_SURVEY_TO' | translate}} {{ platform.code }}</mat-card-title>
      
      <mat-card-content>
        <button type="submit" class="btn btn-primary" [disabled]="!surveyForm.valid">{{ 'SUBMIT' | translate }}</button>
        <button (click)="return()" class="back">{{ 'CANCEL' | translate }}</button>
        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>  
      </mat-card-content>
    </mat-card>
  </div>

  <div class="insideform">
    <mat-card class="column">
      <h5 mat-subheader>{{ 'SURVEY_DESC' | translate }}</h5>
      <div class="row">
        <mat-input-container>
          <input type="text" matInput placeholder="{{ 'TRANSECT_CODE' | translate }}" formControlName="code" required>
          <div class="hint">{{ 'SURVEY_CODE_EX' | translate }} &nbsp;&nbsp;&nbsp;<span class="forbidden">{{ 'EX_PLATFORM_CODE_FORBIDDEN' | translate }}</span></div>
        </mat-input-container>
      </div>
      <div class="row">

        <mat-input-container>
          <input type="text" matInput placeholder="{{ 'PLATFORM' | translate }}" formControlName="codePlatform" required>
          <div class="hint">{{ 'EX_SURVEY_PLATFORM' | translate }}</div> 
        </mat-input-container>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput [matDatepicker]="DatepickerStart" placeholder="{{ 'DATE_START' | translate }}" formControlName="dateStart" required>
          <mat-datepicker-toggle matSuffix [for]="DatepickerStart"></mat-datepicker-toggle>
          <mat-datepicker #DatepickerStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="DatepickerEnd" placeholder="{{ 'DATE_END' | translate }}" formControlName="dateEnd" required>
          <mat-datepicker-toggle matSuffix [for]="DatepickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #DatepickerEnd></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-input-container>
          <input type="text" matInput placeholder="{{ 'PARTICIPANTS' | translate }}" formControlName="participants" required>
          <div class="hint">{{ 'PARTICIPANTS_EX' | translate }}</div>    
        </mat-input-container>          

        <mat-input-container>
          <input type="text" matInput placeholder="{{ 'SURFACE_TRANSECT' | translate }}" formControlName="surfaceTransect" required>
          <div class="hint">{{ 'SURFACE_TRANSECT_EX' | translate }}</div>    
        </mat-input-container> 
      </div>
      <div class="row">
        <mat-input-container>
          <textarea mat-maxlength="150" rows="3" matInput placeholder="{{ 'DESCRIPTION' | translate }}" formControlName="description"  mat-select-on-focus required></textarea>
          <div class="hint">{{ 'SURVEY_DESC_EX' | translate }}</div>     
        </mat-input-container>
      </div>
    </mat-card>
  </div>

</form>
