<form [formGroup]="form" (ngSubmit)="submit()">  
  <div>
    <mat-card class="actions">
      <mat-card-title>{{ 'ADD_SITE' | translate}}</mat-card-title>
      
      <mat-card-content>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">{{ 'SUBMIT' | translate }}</button>
        <button (click)="return()" class="back">{{ 'CANCEL' | translate }}</button>
        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>  
      </mat-card-content>
    </mat-card>
  </div>

  <div class="insideform">
    <mat-card class="row">
      <mat-input-container>
        <input type="text" matInput placeholder="{{ 'SITE_CODE' | translate }}" formControlName="code" required>
        <div class="hint">{{ 'SITE_CODE_EX' | translate }}</div>
      </mat-input-container>

      <mat-form-field>
        <mat-select  placeholder="{{'SITE_COUNTRY' | translate}}" (change)="setCountry($event.value)" >
          <mat-option *ngFor="let pays of countries$" [value]="country">{{ pays.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-input-container>
        <input type="text" matInput placeholder="{{ 'DESCRIPTION' | translate }}" formControlName="description" required>
        <div class="hint">{{ 'SITE_DESCRIPTION_EX' | translate }}</div>     
      </mat-input-container>

    </mat-card>
  </div>

</form>
