
    <mat-card class="actions">
      <img mat-card-sm-image *ngIf="thumbnail" [src]="thumbnail"/>
      <mat-card-title>{{ 'SITE' | translate}} {{ site.code }}</mat-card-title>
      <mat-card-content>
        <div>{{ site.description }}</div> 
      </mat-card-content>
      <mat-card-actions>
        <div>
          <button (click)="edit.emit(site)">{{ 'EDIT' | translate }}</button>
          <button class="warn" (click)="deleteSite(site)">{{ 'DELETE' | translate }}</button> 
        </div>
        <div>
          <button (click)="addZone()">{{ 'ADD_ZONE' | translate }}</button> 
        </div>
        <mat-form-field>
          <mat-select  placeholder="{{'IMPORT' | translate}}" (change)="import($event.value)">
              <mat-option [value]="'zoneImport'">{{ 'IMPORT' | translate}} {{ 'ZONES' | translate}}</mat-option>
              <mat-option [value]="'zonePrefImport'">{{ 'IMPORT' | translate}} {{ 'ZONES_PREF' | translate}}</mat-option>
              <mat-option [value]="'transectImport'">{{ 'IMPORT' | translate}} {{ 'TRANSECTS' | translate}}</mat-option>
              <mat-option [value]="'countImport'">{{ 'IMPORT' | translate}} {{ 'COUNTS' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>        
      </mat-card-actions>       
    </mat-card>

    <bc-zone-preview-list [zones]="zones$ | async" [idSite]="site.code"></bc-zone-preview-list>  
  
