
    <mat-card class="actions">
      <img mat-card-sm-image *ngIf="thumbnail" [src]="thumbnail"/>
      <mat-card-title>{{ 'SITE' | translate}} {{ site.code }}</mat-card-title>
      <mat-card-content>
        <div>{{ site.description }}</div> 
      </mat-card-content>
      <mat-card-actions>
        <button (click)="edit.emit(site)">{{ 'EDIT' | translate }}</button>
        <button (click)="deleteSite(site)">{{ 'DELETE' | translate }}</button> 
        <mat-form-field>
          <mat-select  placeholder="{{'ADD_ZONE' | translate}}" (change)="addZone($event.value)">
              <mat-option [value]="'form'">{{ 'FORM' | translate}}</mat-option>
              <mat-option [value]="'import'">{{ 'IMPORT' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>        
      </mat-card-actions>       
    </mat-card>

    <bc-zone-preview-list [zones]="zones$ | async" [idSite]="site.code"></bc-zone-preview-list>  
  
