<form (ngSubmit)="submit()">
  <div>
    <mat-card class="actions">
      <mat-card-title>{{ 'ADD_STATION_TO' | translate}} {{ platform.code }}</mat-card-title>

      <mat-card-content>
        <button type="submit" class="btn btn-primary" [disabled]="!stationForm.valid || !stationValid">{{ 'SUBMIT' | translate }}</button>
        <button (click)="return()" class="back">{{ 'CANCEL' | translate }}</button>
        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="insideform">
    <mat-card class="column">
      <h5 mat-subheader>{{ 'STATION_DESC' | translate }}</h5>
      <div class="row" [formGroup]="stationForm">
        <mat-form-field formGroupName="properties">
          <input type="text" matInput placeholder="{{ 'STATION_NAME' | translate }}" formControlName="name" required>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <input type="number" min="-180" max="180" matInput placeholder="{{ 'STATION_LONG' | translate }}" [value]="longitude" name="longitude" [(ngModel)]="longitude" (change)="coordChange()" required>
          <div class="hint">{{'STATION_LONG_EX' | translate}}</div>
        </mat-form-field>
        <mat-form-field>
          <input type="number" min="-90" max="90" matInput placeholder="{{ 'STATION_LAT' | translate }}" [value]="latitude" name="latitude" [(ngModel)]="latitude" (change)="coordChange()" required>
          <div class="hint">{{'STATION_LAT_EX' | translate}}</div>
        </mat-form-field>
      </div>
      <p *ngIf="errorLng" class="error">{{ 'STATION_ERROR_LNG' | translate }}</p>
      <p *ngIf="errorLat" class="error">{{ 'STATION_ERROR_LAT' | translate }}</p>
      <bc-station-form-map (stationValid)="isStationValid($event)" [platform]="platform" [countries]="countries" [newStation]="newStation" class="wrapp_right"></bc-station-form-map>
    </mat-card>
  </div>

</form>
