h5 {
  margin-left: 15px;
}
mat-card-title {
  display: flex;
  justify-content: center;
}
mat-card-content {
  display: flex;
  justify-content: center;
}
mat-card-subtitle {
  color: #555;
}
mat-form-field {
  padding-left: 2em;
  flex-grow: 1;
}
mat-card-actions {
  margin: 5px 0 0 !important;
}
mat-card-footer {
  display: flex;
  a {
    margin: 1em;
  }
}
.actions {
  text-align: center;
}
.btn-danger {
  background-color: red;
}
.btn-disabled {
  background-color: grey;
  cursor: not-allowed;
}
.error {
  text-align: center;
  padding: 16px;
  color: white;
  background-color: red;
}
.errorStation {
  color: red;
}
.insideform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 72px 0;
  mat-card {
    flex-grow: 1;
    margin: auto;
    max-width: 500px;
  }
}
.msg {
  text-align: center;
  padding: 16px;
  color: white;
  background-color: #4bb543;
}
.send {
  background-color: #4bb543;
}
.warn {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  padding: 5px;
}
.warning {
  color: orange;
}
