<div>
    <mat-card class="actions">
      <mat-card-title>{{ 'IMPORT_STATIONS' | translate}}</mat-card-title>
      <mat-card-content>
        <button *ngIf="importCsvFile === null || importError.length > 0 || error !== null; else activedbutton" (click)="send()" class="btn btn-disabled" disabled>{{ 'SEND' | translate }}</button>
        <ng-template #activedbutton>
          <button (click)="send()" class="btn send">{{ 'SEND' | translate }}</button>
        </ng-template>
        <button (click)="back.emit()" class="back">{{ 'CANCEL' | translate }}</button>
      </mat-card-content>
      <mat-card-content class="error" *ngIf="error !== null" align="center">{{ 'ERROR_CSV_FIELD' | translate }} {{ error }}</mat-card-content>
      <mat-card-content class="error" *ngIf="importError.length > 0" align="center">{{ 'ERROR_IMPORT' | translate }}</mat-card-content>
      <mat-card-content class="msg" *ngIf="importError.length === 0 && importCsvFile !== null && error === null" align="start">{{ 'VALID_IMPORT' | translate }}</mat-card-content>
    </mat-card>
</div>
<div class="insideform" [formGroup]="stationForm">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>{{'IMPORT_CSV' | translate }}</mat-card-title>
      <fa mat-card-sm-image [name]="'upload'" [border]=true [size]=2></fa>
    </mat-card-title-group>
    <mat-card-content>
      {{'IMPORT_DESC' | translate }}
    </mat-card-content>
    <mat-card-footer class="footer">
      <h5 mat-subheader>{{ 'DOWNLOAD_CSV_STATIONS' | translate }}</h5>
      <a *ngIf="!isAdmin" href="{{getCsvStationsUrl()}}" download>
          <fa [name]="'download'" [border]=true [size]=1></fa>
      </a>
    </mat-card-footer>
    <mat-card-actions align="start">
      <button (click)="fileInput.click(); clearInput()">
        <span>{{ 'IMPORT_CSV' | translate }}</span>
        <input #fileInput type="file" formControlName="stationInputFile" (change)="handleUpload($event)" style="display:none;"  accept=".csv"/>
      </button>
    </mat-card-actions>

    <mat-card-actions align="start" *ngIf="importError.length > 0">
      <h2 class="errorStation">{{'LIST_ERROR_STATION' | translate}}</h2>
      <mat-list>
        <div *ngFor="let station of importError">
          <mat-list-item class="errorStation">
              {{station}}
          </mat-list-item>
        </div>
      </mat-list>
    </mat-card-actions>
    <bc-station-import-map (stationsValid)="isStationsValid($event)" [platform]="platform" [countries]="countries" [newStations]="newStations$ | async"></bc-station-import-map>
  </mat-card>
</div>
