<mat-card>
      <mat-card-title>New User</mat-card-title>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <p>
            <fa [name]="'user-o'" [border]=false [size]=2></fa>
            <mat-input-container>
              <input type="text" matInput placeholder="Username" formControlName="username">
            </mat-input-container>
          </p>
          <p>
            <fa [name]="'user-o'" [border]=false [size]=2></fa>
            <mat-input-container>
              <input type="text" matInput placeholder="Prénom" formControlName="surname">
            </mat-input-container>
          </p>
          <p>
            <fa [name]="'user-o'" [border]=false [size]=2></fa>
            <mat-input-container>
              <input type="text" matInput placeholder="Nom" formControlName="name">
            </mat-input-container>
          </p>
          <p>
            <fa [name]="'envelope-o'" [border]=false [size]=2></fa>
            <mat-input-container>
              <input type="email" matInput placeholder="Email" formControlName="email">
            </mat-input-container>
          </p>
          <p>
            <fa [name]="'key'" [border]=false [size]=2></fa>
            <mat-input-container>
              <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-input-container>
          </p>
          <p>
            <fa [name]="'pencil'" [border]=false [size]=2></fa>
            <mat-radio-group formControlName="role">
              <mat-radio-button value="EDITOR">{{ 'EDITOR'  | translate}}</mat-radio-button>
              <mat-radio-button value="USER">{{ 'USER'  | translate}}</mat-radio-button>
            </mat-radio-group>
          </p>
          <p>
            <img mat-card-sm-image *ngIf="flag" [src]="flag"/>
            {{name}}
          </p>
          <p *ngIf="errorMessage" class="loginError">
            {{ errorMessage }}
          </p>    

          
          <p class="SaveButtons">
            <button type="submit" mat-button>Save</button>
          </p>
        </form>
      </mat-card-content>

    </mat-card>