<form [formGroup]="form" (ngSubmit)="submit()">  
  <div>
    <mat-card class="actions">
      <mat-card-title>{{ 'NEW_USER' | translate}}</mat-card-title>
      
      <mat-card-content>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">{{ 'SUBMIT' | translate }}</button>
        <button (click)="return()" class="back">{{ 'CANCEL' | translate }}</button>  
      </mat-card-content>
      <mat-card-content>        
        <p *ngIf="errorMessage" class="error">
            {{ errorMessage.message }}
          </p>  
      </mat-card-content>

    </mat-card>
  </div>

  <div class="insideform">
    <mat-card class="column">
      <div class="subheader" *ngIf="isAdmin">{{ 'USER' | translate}} {{countryName}}<img mat-card-sm-image *ngIf="flag" [src]="flag"/></div>

      <div class="row">
        <mat-form-field>
          <input type="text" matInput placeholder="{{ 'NAME' | translate}}" formControlName="name" required>
        </mat-form-field>

        <mat-form-field>
          <input type="text" matInput placeholder="{{ 'FIRSTNAME' | translate}}" formControlName="surname" required>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <input type="text" matInput placeholder="{{ 'USERNAME' | translate }}" formControlName="username" required>
        </mat-form-field>
        <mat-form-field>
          <input type="email" matInput placeholder="{{ 'EMAIL' | translate}}" formControlName="email" required>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <input type="password" matInput placeholder="{{ 'PASSWORD' | translate}}" formControlName="password" required>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="{{ 'REPASSWORD' | translate}}" formControlName="repassword" required>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-radio-group formControlName="role">
          <mat-radio-button value="EDITOR">{{ 'EDITOR'  | translate}}</mat-radio-button>
          <mat-radio-button value="USER">{{ 'USER'  | translate}}</mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-card>
  </div>

</form>
