<mat-card>
  <mat-card-title>{{ 'TITLE_NEW_COUNTRY' | translate}}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <fa [name]="'globe'" [border]=false [size]=2></fa>
        <mat-form-field>
          <mat-select placeholder="{{ 'SELECT_COUNTRY' | translate}}" formControlName="pays"  (selectionChange)="check($event)">
            <mat-option *ngFor="let pays of countryList" [value]="pays" [disabled]="countriesIds | bcHasIntersection:pays">{{ pays.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <img mat-card-sm-image *ngIf="flag" [src]="flag | async" />
      </p>
      <p *ngIf="details !== null" >
        <fa [name]="'map'" [border]=false [size]=2></fa>
        <mat-form-field>
          <mat-select placeholder="{{ 'SELECT_PROVINCE' | translate}}" formControlName="province">
            <mat-option *ngFor="let province of details.alternative" [value]="province">{{ province.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <fa [name]="'ship'" [border]=false [size]=2></fa>
        <mat-form-field>
          <mat-select placeholder="{{ 'SELECT_PLATFORM_TYPE' | translate}}" formControlName="platformType"  >
            <mat-option *ngFor="let type of platformTypeList" [value]="type.id">{{ type.value | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <p *ngIf="errorMessage" class="countryError">
        {{ errorMessage }}
      </p>

      <p class="countryButtons">
        <button *ngIf="(province === null && details !== null) || selected === false;else valid" type="submit" mat-button class="disabled" disabled>{{ 'ADD' | translate}}</button>
        <ng-template #valid> <button type="submit" mat-button>{{ 'ADD' | translate}}</button></ng-template>
      </p>

    </form>
  </mat-card-content>

</mat-card>
