<mat-card>
      <mat-card-title>{{ 'TITLE_NEW_COUNTRY' | translate}}</mat-card-title>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="submit()" >
          <p>
            <fa [name]="'globe'" [border]=false [size]=2></fa>
            <mat-form-field>
              <mat-select placeholder="{{ 'SELECT_COUNTRY' | translate}}" formControlName="pays" >
                <mat-option *ngFor="let pays of (countryList$ | async)" [value]="pays" [disabled]="countriesIds$ | async | bcHasIntersection:pays">{{ pays.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          <img mat-card-sm-image *ngIf="flag" [src]="flag | async" />
        </p>
          <p *ngIf="errorMessage" class="countryError">
            {{ errorMessage }}
          </p>    

          
          <p class="countryButtons">
            <button type="submit" mat-button>{{ 'ADD' | translate}}</button>
          </p>

        </form>
      </mat-card-content>

    </mat-card>