  :host {
      display: flex;
      justify-content: center;
      margin: 72px 0;
    }
    md-card {
        margin-bottom:10px;
    }
    md-card-title,
    md-card-content {
      display: flex;
      justify-content: center;
    }
    md-input-container {
      padding-left: 1em;
    }
    md-card-actions {
      margin: 25px 0 0 !important;
    }
    input {
      width: 300px;
    }
    textarea {
      width: 650px;
    }
    .panel {
      margin-bottom:5px;
    }
    .toolbar {
      background-color: #106cc8;
      color: rgba(255, 255, 255, 0.87);
      display: block;
      padding:10px;
    }