<md-card>
  <md-card-title class="toolbar"><fa [name]="'paw'" [border]=true [size]=1 > </fa><span style="text-align:center">{{ 'ADD_SPECIES' | translate }}</span></md-card-title>
  <md-card-content>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <md-card class="row">
          <md-card-subtitle>{{ 'SPECIES_NAMING' | translate }}</md-card-subtitle>
          <md-input-container>
            <input type="text" mdInput placeholder="{{ 'SPECIES_CODE' | translate }}" formControlName="code" required>
            <div class="hint">{{ 'SPECIES_CODE_EX' | translate }}</div>
          </md-input-container>
          
          <md-input-container>
            <input type="text" mdInput placeholder="{{ 'SPECIES_SCIENTIFIC_NAME' | translate }}" formControlName="scientificName" required>
            <div class="hint">{{ 'SPECIES_SCIENTIFIC_NAME_EX' | translate }}</div>     
          </md-input-container>
          
        </md-card>
        <!--names-->
        <md-card formArrayName="names">
          <md-card-subtitle>{{ 'SPECIES_VERNACULAR_NAME' | translate }}</md-card-subtitle>
          <div *ngFor="let name of form.controls.names.controls; let i=index;" class="panel">          
            <fa [name]="'times'" [border]=true [size]=1 [pull]=right *ngIf="form.controls.names.controls.length > 1" (click)="removeName(i)"></fa>
            <div [formGroupName]="i">
              <bt-name [group]="form.controls.names.controls[i]"></bt-name>
            </div>
          </div>
          <md-card-actions>
            <a class="action" (click)="addName()">
              {{ 'ADD_VERNACULAR_NAME' | translate }}
            </a>
          </md-card-actions>
        </md-card>

        <md-card class="row">
          <md-card-subtitle>{{ 'SPECIES_COEF_LLW' | translate }}</md-card-subtitle>
          <div formGroupName="LLW">
                <md-input-container>
                  <input type="text" mdInput placeholder="{{ 'SPECIES_COEF_COEFA' | translate }}" formControlName="coefA" required>
                  <div class="hint">{{ 'SPECIES_COEF_LLW_COEFA_EX' | translate }}</div>
                </md-input-container>
                    
                <md-input-container>
                  <input type="text" mdInput placeholder="{{ 'SPECIES_COEF_COEFB' | translate }}" formControlName="coefB" required>
                  <div class="hint">{{ 'SPECIES_COEF_LLW_COEFB_EX' | translate }}</div>    
                </md-input-container>
          </div>
        </md-card>

        <md-card class="row">
          <md-card-subtitle>{{ 'SPECIES_COEF_LW' | translate }}</md-card-subtitle>
          <div formGroupName="LW">
                <md-input-container>
                  <input type="text" mdInput placeholder="{{ 'SPECIES_COEF_COEFA' | translate }}" formControlName="coefA" required>
                  <div class="hint">{{ 'SPECIES_COEF_LLW_COEFA_EX' | translate }}</div>
                </md-input-container>
                    
                <md-input-container>
                  <input type="text" mdInput placeholder="{{ 'SPECIES_COEF_COEFB' | translate }}" formControlName="coefB" required>
                  <div class="hint">{{ 'SPECIES_COEF_LLW_COEFB_EX' | translate }}</div>    
                </md-input-container>
          </div>
        </md-card>

        <md-card class="row">
          <md-card-subtitle>{{ 'SPECIES_CONVERSIONS' | translate }}</md-card-subtitle>
          <div formGroupName="conversions">
                <md-input-container>
                  <input type="text" mdInput placeholder="{{ 'SPECIES_CONVERSIONS_SALT' | translate }}" formControlName="salt" required>
                  <div class="hint">{{ 'SPECIES_CONVERSIONS_SALT_EX' | translate }}</div>
                </md-input-container>
                    
                <md-input-container>
                  <input type="text" mdInput placeholder="{{ 'SPECIES_CONVERSIONS_BDM' | translate }}" formControlName="BDM" required>
                  <div class="hint">{{ 'SPECIES_CONVERSIONS_BDM_EX' | translate }}</div>    
                </md-input-container>
          </div>
        </md-card>

        <md-card class="row">
          <md-card-subtitle>{{ 'SPECIES_DIMS' | translate }}</md-card-subtitle>
          <div formGroupName="biologicDimensions">
                <md-input-container>
                  <input type="text" mdInput placeholder="{{ 'SPECIES_DIMS_LONG_MAX' | translate }}" formControlName="longMax" required>mm
                  <div class="hint">{{ 'SPECIES_DIMS_LONG_MAX_EX' | translate }}</div>
                </md-input-container>
                    
                <md-input-container>
                  <input type="text" mdInput placeholder="{{ 'SPECIES_DIMS_LARG_MAX' | translate }}" formControlName="largMax" required>mm
                  <div class="hint">{{ 'SPECIES_LARG_MAX_EX' | translate }}</div>    
                </md-input-container>
          </div>
        </md-card>

        <md-card class="row">
          <md-card-subtitle>{{ 'SPECIES_DISTRIB' | translate }}</md-card-subtitle>
          <div>
                <md-input-container>
                  <textarea md-maxlength="150" rows="1" mdInput formControlName="distribution"  md-select-on-focus></textarea>
                  <div class="hint">{{ 'SPECIES_DISTRIB_EX' | translate }}</div>
                </md-input-container>
          </div>
        </md-card>

        <md-card class="row">
          <md-card-subtitle>{{ 'SPECIES_HABITATS' | translate }}</md-card-subtitle>
          <div>
                <md-input-container>
                  <textarea md-maxlength="150" rows="5" mdInput formControlName="habitatPreference"  md-select-on-focus></textarea>
                  <div class="hint">{{ 'SPECIES_HABITATS_EX' | translate }}</div>
                </md-input-container>
          </div>
        </md-card>

        <!--legal dims-->
        <md-card formArrayName="legalDimensions">
          <md-card-subtitle>{{ 'SPECIES_FISHING_DIMS' | translate }} </md-card-subtitle>
          <div *ngFor="let name of form.controls.legalDimensions.controls; let j=index;" class="panel">          
            <fa [name]="'times'" [border]=true [size]=1 [pull]=right *ngIf="form.controls.legalDimensions.controls.length > 1" (click)="removeLegalDim(j)"></fa>
            <div [formGroupName]="j">
              <bt-dim [group]="form.controls.legalDimensions.controls[j]"></bt-dim>
            </div>
          </div>
          <md-card-actions>
            <a class="action" (click)="addLegalDim()">
              {{ 'ADD_FISHING_DIMS' | translate }}
            </a>
          </md-card-actions>
        </md-card>

        <p *ngIf="errorMessage" class="speciesError">
            {{ errorMessage }}
        </p>  

        <div class="actions">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
          <button (click)="return()" class="btn btn-secondary">{{ 'BACK_MANAGEMENT' | translate }}</button>
        </div>
     
    </form>
  </md-card-content>
    

</md-card>