<md-card *ngIf="species">
      <md-card-title-group>      
          <md-card-title> {{ species.scientificName }} - {{ species.code }}</md-card-title>
          <md-card-subtitle *ngFor="let name of species.names">{{ name.lang }}: {{ name.name }}</md-card-subtitle>
      </md-card-title-group>
      
      <md-card-content>
        <div>
          <h4>{{ 'LLW' | translate }}</h4>
          <div>{{ 'COEFA' | translate }}: {{ species.LLW.coefA }}</div> 
          <div>{{ 'COEFB' | translate }}: {{ species.LLW.coefB }}</div>
        </div>
        <div>
          <h4>{{ 'LW' | translate }}</h4>
          <div>{{ 'COEFA' | translate }}: {{ species.LW.coefA }}</div>
          <div>{{ 'COEFB' | translate }}: {{ species.LW.coefB }}</div>
      </div>
      </md-card-content>
      <md-card-content>
        <div>
          <h4>{{ 'CONVERSIONS' | translate }}</h4>
          <div>{{ 'SALT' | translate }}: {{ species.conversions.salt }}</div>
          <div>{{ 'BDM' | translate }}: {{ species.conversions.BDM }}</div>
      </div>
        <div>
          <h4>{{ 'BIOLOGIC_DIM' | translate }}</h4>
          <div>{{ 'LONG_MAX' | translate }}: {{ species.biologicDimensions.longMax }}{{ 'MILLIMETER_ABR' | translate }}</div>
          <div>{{ 'LARG_MAX' | translate }}: {{ species.biologicDimensions.largMax }}{{ 'MILLIMETER_ABR' | translate }}</div>
      </div>
      </md-card-content>
      <md-card-content class="one">
        <div flex>
          <h4>{{ 'DISTRIBUTION' | translate }}</h4>
          <div>{{ species.distribution }}</div>
      </div>
      </md-card-content>
      <md-card-content class="one">
        <div flex>
          <h4>{{ 'HABITAT_PREF' | translate }}</h4>
          <div>{{ species.habitatPreference }}</div>
      </div>
      </md-card-content>
      <md-card-content class="one">
        <h4>{{ 'LEGAL_DIM' | translate }}</h4>
      </md-card-content>
       <md-card-content class="table">
        <div>
          <md-card-subtitle>{{ 'COUNTRY' | translate }}</md-card-subtitle>          
          <div>{{ 'LONG_MIN' | translate }}</div>
          <div>{{ 'LONG_MAX' | translate }}</div>  
        </div>
        <div *ngFor="let dim of species.legalDimensions">
          <md-card-subtitle>{{ dim.codeCountry }}</md-card-subtitle>          
          <div>{{ dim.longMin }}{{ 'MILLIMETER_ABR' | translate }}</div>
          <div>{{ dim.longMax }}{{ 'MILLIMETER_ABR' | translate }}</div>  
        </div>    
      </md-card-content>
      <md-card-footer class="footer">
        
      </md-card-footer>

      <md-card-actions align="space-between">
        <button md-raised-button color="warn" (click)="edit.emit(species)">
        Edit Species
        </button>
        <button *ngIf="isUserAdmin()" md-raised-button color="warn" (click)="deleteSpecies()">
        Remove Species
        </button>

      </md-card-actions>
</md-card>