<mat-card *ngIf="species">
      <mat-card-title-group>      
          <mat-card-title> {{ species.scientificName }} <span class="codename">({{ species.code }})</span></mat-card-title>
          <mat-card-subtitle *ngFor="let name of species.names">{{ name.lang }}: {{ name.name }}</mat-card-subtitle>
          <img mat-card-sm-image src="/assets/img/{{ species.code }}.jpg">
      </mat-card-title-group>
      <mat-card-content>
        <div>
          <h4>{{ 'LLW' | translate }}</h4>
          <div><span class="smallcaps">{{ 'COEFA' | translate }}:</span> {{ species.LLW.coefA }}</div> 
          <div><span class="smallcaps">{{ 'COEFB' | translate }}:</span> {{ species.LLW.coefB }}</div>
        </div>
        <div>
          <h4>{{ 'LW' | translate }}</h4>
          <div><span class="smallcaps">{{ 'COEFA' | translate }}:</span> {{ species.LW.coefA }}</div>
          <div><span class="smallcaps">{{ 'COEFB' | translate }}:</span> {{ species.LW.coefB }}</div>
      </div>
      </mat-card-content>
      <mat-card-content>
        <div>
          <h4>{{ 'CONVERSIONS' | translate }}</h4>
          <div><span class="smallcaps">{{ 'SALT' | translate }}:</span> {{ species.conversions.salt }}</div>
          <div><span class="smallcaps">{{ 'BDM' | translate }}:</span> {{ species.conversions.BDM }}</div>
      </div>
        <div>
          <h4>{{ 'BIOLOGIC_DIM' | translate }}</h4>
          <div><span class="smallcaps">{{ 'LONG_MAX' | translate }}:</span> {{ species.biologicDimensions.longMax }}{{ 'MILLIMETER_ABR' | translate }}</div>
          <div><span class="smallcaps">{{ 'LARG_MAX' | translate }}:</span> {{ species.biologicDimensions.largMax }}{{ 'MILLIMETER_ABR' | translate }}</div>
      </div>
      </mat-card-content>
      <mat-card-content class="one">
        <div flex>
          <h4>{{ 'DISTRIBUTION' | translate }}</h4>
          <div>{{ species.distribution }}</div>
      </div>
      </mat-card-content>
      <mat-card-content class="one">
        <div flex>
          <h4>{{ 'HABITAT_PREF' | translate }}</h4>
          <div>{{ species.habitatPreference }}</div>
      </div>
      </mat-card-content>
      <mat-card-content class="flexcolumn">
        <div class="one">
          <h4>{{ 'LEGAL_DIM' | translate }}</h4>
        </div>
        <div class="table">
          <div>
            <mat-card-subtitle>{{ 'COUNTRY' | translate }}</mat-card-subtitle>          
            <div  class="smallcaps">{{ 'LONG_MIN' | translate }}</div>
            <div  class="smallcaps">{{ 'LONG_MAX' | translate }}</div>  
          </div>
          <div *ngFor="let dim of species.legalDimensions">
            <mat-card-subtitle>{{ dim.codeCountry }}</mat-card-subtitle>          
            <div>{{ dim.longMin }}{{ 'MILLIMETER_ABR' | translate }}</div>
            <div>{{ dim.longMax }}{{ 'MILLIMETER_ABR' | translate }}</div>  
          </div>  
        </div>  
      </mat-card-content>
      <mat-card-footer class="footer">
        
      </mat-card-footer>

      <mat-card-actions align="space-between">
        <button mat-raised-button color="warn" (click)="edit.emit(species)">
       {{ 'SPECIES_EDIT' | translate }}
        </button>
        <button *ngIf="isUserAdmin()" mat-raised-button color="warn" (click)="deleteSpecies()">
        {{ 'SPECIES_DELETE' | translate }}
        </button>

      </mat-card-actions>
</mat-card>