:host ::ng-deep mat-horizontal-stepper {
  margin: 72px;
}
:host ::ng-deep .actions {
  text-align: center;
}
:host ::ng-deep .insideform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 72px 0;
}
:host ::ng-deep .insideform mat-card {
  flex-grow: 1;
  margin: auto;
  max-width: 500px;
}
:host ::ng-deep mat-card-title,
:host ::ng-deep mat-card-content {
  display: flex;
  justify-content: center;
}
:host ::ng-deep mat-card-subtitle {
  color: #555;
}
:host ::ng-deep mat-input-container {
  padding-left: 2em;
  flex-grow: 1;
}
:host ::ng-deep mat-card-actions {
  margin: 5px 0 0 !important;
}
:host ::ng-deep mat-card-footer {
  display: flex;
}
:host ::ng-deep mat-card-footer a {
  margin: 1em;
}
:host ::ng-deep .error {
  text-align: center;
  padding: 16px;
  color: white;
  background-color: red;
}
:host ::ng-deep h5 {
  margin-left: 15px;
}
:host ::ng-deep .warn {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  padding: 5px;
}

:host ::ng-deep .mat-card {
  margin-bottom: 25px !important;
}

:host ::ng-deep .btn-danger {
  background-color: red;
}
:host ::ng-deep .no-box-shadow {
  box-shadow: none;
}
:host ::ng-deep .align-right {
  text-align: right;
}

:host ::ng-deep .msg {
  text-align: center;
  padding: 16px;
  color: white;
  background-color: #4bb543;
}

:host ::ng-deep .valid {
  color: green;
}

:host ::ng-deep .disabled {
  background-color: grey;
  cursor: not-allowed;
}

:host ::ng-deep .send {
  background-color: #4bb543;
}
:host ::ng-deep .btn-danger {
  background-color: red;
}

:host ::ng-deep .btn-disabled {
  background-color: grey;
  cursor: not-allowed;
}

:host ::ng-deep .errorList {
  color: red;
}

:host ::ng-deep .warning {
  color: orange;
}
