<div>
  <mat-card class="actions">
    <mat-card-title>{{ 'IMPORT_GLOBAL' | translate}}</mat-card-title>
    <mat-card-content>
      <button *ngIf="(( csvFileSurvey === null && csvFileStation === null && csvFileCount === null ) || (importError$ | async)?.length > 0 || (error$ | async) !== null ); else activedbutton" (click)="send()" class="btn btn-disabled" disabled>{{ 'SEND' | translate }}</button>

      <ng-template #activedbutton>
        <button (click)="send()" class="btn send">{{ 'SEND' | translate }}</button>
      </ng-template>
      <button (click)="return()" class="back">{{ 'CANCEL' | translate }}</button>
    </mat-card-content>
  </mat-card>
</div>

<div class="insideform">
  <mat-horizontal-stepper #stepper (selectionChange)="changeIndex($event)">
    <mat-step [optional]="true" class="station">
      <form [formGroup]="stationForm">
        <ng-template matStepLabel><div [ngClass]="((importError$ | async)?.length === 0 && csvFileStation !== null && (error$ | async) === null) ? 'valid' : ''">Stations</div></ng-template>

        <bc-global-import-station
        [viewStation]="viewStation"
        [group]="stationForm"
        [isAdmin]="isAdmin"
        [locale]="locale"
        [docs_repo]="docs_repo"
        [error$]="error$"
        [countries]="countries"
        [platform]="platform"
        [importError$]="importError$"
        [csvFileStation]="csvFileStation"
        [csvFileCount]="csvFileCount"
        (stationFileEmitter)="setStationFile($event)"
        (countFileEmitter)="setCountFile($event)"
        (stayHereEmitter)="stayOn($event)">
      </bc-global-import-station>

      <div class="align-right">
        <button mat-button matStepperNext>{{ 'NEXT' | translate }}</button>
      </div>
    </form>
  </mat-step>

  <mat-step [optional]="true" class="survey">
    <form [formGroup]="surveyForm">
      <ng-template matStepLabel><div [ngClass]="((importError$ | async)?.length === 0 && csvFileSurvey !== null && (error$ | async) === null) ? 'valid' : ''">Surveys</div></ng-template>

      <bc-global-import-survey
      [viewSurvey]="viewSurvey"
      [group]="surveyForm"
      [locale]="locale"
      [docs_repo]="docs_repo"
      [error$]="error$"
      [importError$]="importError$"
      [csvFileSurvey]="csvFileSurvey"
      [csvFileCount]="csvFileCount"
      (surveyFileEmitter)="setSurveyFile($event)"
      (countFileEmitter)="setCountFile($event)"
      (stayHereEmitter)="stayOn($event)"
      >

    </bc-global-import-survey>

    <div class="align-right">
      <button mat-button matStepperPrevious>{{ 'BACK' | translate }}</button>
      <button mat-button matStepperNext>{{ 'NEXT' | translate }}</button>
    </div>
  </form>
</mat-step>

<mat-step [optional]="true" class="count">
  <form [formGroup]="countForm">
    <ng-template matStepLabel><div [ngClass]="((importError$ | async)?.length === 0 && csvFileCount !== null && (error$ | async) === null) ? 'valid' : ''">Counts</div></ng-template>

    <bc-global-import-count
    [viewCount]="viewCount"
    [group]="countForm"
    [locale]="locale"
    [docs_repo]="docs_repo"
    [error$]="error$"
    [importError$]="importError$"
    [csvFileCount]="csvFileCount"
    (countFileEmitter)="setCountFile($event)"
    (stayHereEmitter)="stayOn($event)"
    >

  </bc-global-import-count>

  <div class="align-right">
    <button mat-button matStepperPrevious>Back</button>
  </div>
</form>
</mat-step>
</mat-horizontal-stepper>
</div>
