<div>
  <mat-card class="actions">
    <mat-card-title>{{ 'IMPORT_GLOBAL' | translate}}</mat-card-title>
    <mat-card-content>

      <div *ngIf="(importError$ | async)?.length === 0 && csvFileZonePref !== null && (error$ | async) === null">
        <button *ngIf=" csvFileSurvey !== null || csvFileZonePref !== null || csvFileTransect !== null || csvFileCount !== null || kmlFileZones !== null " (click)="send()" class="btn send" disabled>sqdqsdqsd {{ 'SEND' | translate }}</button>   
      </div>

        <button *ngIf="(( csvFileSurvey === null && csvFileZonePref === null && csvFileTransect === null && csvFileCount === null && kmlFileZones === null ) || (importError$ | async)?.length > 0 || error !== null ); else activedbutton" (click)="send()" class="btn btn-disabled" disabled>{{ 'SEND' | translate }}</button>

        <ng-template #activedbutton>
          <button (click)="send()" class="btn send">{{ 'SEND' | translate }}</button>
        </ng-template>
        <button (click)="return()" class="back">{{ 'CANCEL' | translate }}</button>        
      </mat-card-content>
  </mat-card>
</div>
<div class="insideform" [formGroup]="inputForm">
  <mat-horizontal-stepper #stepper (selectionChange)="changeIndex($event)">
    <mat-step [optional]="true">     
        <ng-template matStepLabel><div [ngClass]="(kmlFileZones) ? 'valid' : ''">Zone</div></ng-template>

      <div>
        <mat-card class="no-box-shadow">
          <mat-card-title-group>
            <mat-card-title>{{'IMPORT_KML' | translate }} Zone</mat-card-title> 
            <fa mat-card-sm-image [name]="'upload'" [border]=true [size]=2></fa> 
          </mat-card-title-group>
          <mat-card-content>
            {{'IMPORT_DESC_KML' | translate }}    
          </mat-card-content>
          <mat-card-footer class="footer">
            <h5 mat-subheader>{{ 'DOWNLOAD_KML_ZONES' | translate }}</h5>
            <a *ngIf="!isAdmin" href="{{getKmlUrl('Zones')}}" download>
              <fa [name]="'download'" [border]=true [size]=1></fa>
            </a>
          </mat-card-footer>
          <mat-card-actions align="start">
            <button (click)="fileInputZone.click()">
              <span>{{ 'IMPORT_KML' | translate }}</span>
              <input #fileInputZone type="file" (change)="handleUploadKml($event)" formControlName="zoneInputFile" style="display:none;"  accept=".kml"/>
            </button>
            <button class="btn-danger" *ngIf="kmlFileZones" (click)="deleteKml()">
              <span>{{ 'DELETE_CSV' | translate }}</span>
            </button>
            <div *ngIf="kmlFileZones">
              {{kmlFileZones.name}} {{ 'SELECTED_CSV' | translate }}
            </div>
          </mat-card-actions>
          <mat-card-content class="msg" *ngIf="next" align="start">{{ 'VALID_DATA' | translate }}</mat-card-content> 
        </mat-card>
      </div>
      <div class="align-right enable-click">
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step [optional]="true" class="zonePref">
      <ng-template matStepLabel><div [ngClass]="((importError$ | async)?.length === 0 && csvFileZonePref !== null && (error$ | async) === null) ? 'valid' : ''">Zone Pref</div></ng-template>
      <div >

        <mat-card class="no-box-shadow">
          <mat-card-title-group>
            <mat-card-title>{{'IMPORT_CSV' | translate }} Zones Preferences</mat-card-title> 
            <fa mat-card-sm-image [name]="'upload'" [border]=true [size]=2></fa> 
          </mat-card-title-group>
          <mat-card-content>
            {{'IMPORT_DESC' | translate }}    
          </mat-card-content>
          <mat-card-footer class="footer">
            <h5 mat-subheader>{{ 'DOWNLOAD_CSV_ZONES_PREF' | translate }}</h5>
            <a *ngIf="!isAdmin" href="{{getCsvUrl('ZonePref')}}" download>
              <fa [name]="'download'" [border]=true [size]=1></fa>
            </a>
          </mat-card-footer>
          <mat-card-actions align="start">
            <button (click)="fileInputZonePre.click()">
              <span>{{ 'IMPORT_CSV' | translate }}</span>
              <input #fileInputZonePre type="file" (change)="handleUploadCsv($event, 'zonePref')" formControlName="zonePrefInputFile" style="display:none;"  accept=".csv"/>
            </button>

            <button class="btn-danger" *ngIf="csvFileZonePref" (click)="deleteCsv('zonePref')">
              <span>{{ 'DELETE_CSV' | translate }}</span>
            </button>
            <div *ngIf="csvFileZonePref">
              {{csvFileZonePref.name}} {{ 'SELECTED_CSV' | translate }}
            </div>
          </mat-card-actions>
          <mat-card-content class="error" *ngIf="(error$ | async)  !== null" align="center">{{ 'ERROR_CSV_FIELD' | translate }} {{ error$ | async }}</mat-card-content>
          <mat-card-content class="msg" *ngIf="(importError$ | async)?.length === 0 && csvFileZonePref !== null && (error$ | async) === null" align="start">{{ 'VALID_DATA' | translate }}</mat-card-content>

          <mat-card-actions align="start" *ngIf="(importError$ | async)?.length > 0">
            <h2 class="errorList">{{'LIST_ERROR_ZONE_PREF' | translate}}</h2>
            <mat-list>
              <div *ngFor="let zonePref of (importError$ | async)">
                <mat-list-item class="errorList"> 
                  {{zonePref}}
                </mat-list-item>
              </div>
            </mat-list>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="align-right" *ngIf="(error$ | async)  !== null || (importError$ | async)?.length > 0; else navigate">
        <button mat-button matStepperPrevious class="disabled" disabled>Back</button>
        <button mat-button matStepperNext class="disabled" disabled>Next</button>
      </div>
      
      <ng-template #navigate>
        <div class="align-right">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </ng-template>
    </mat-step>

    <mat-step [optional]="true" class="transect">
        <ng-template matStepLabel><div [ngClass]="((importError$ | async)?.length === 0 && csvFileTransect !== null && (error$ | async) === null) ? 'valid' : ''">Transects</div></ng-template>

      <div >
        <mat-card class="no-box-shadow">
          <mat-card-title-group>
            <mat-card-title>{{'IMPORT_CSV' | translate }} Transects</mat-card-title> 
            <fa mat-card-sm-image [name]="'upload'" [border]=true [size]=2></fa> 
          </mat-card-title-group>
          <mat-card-content>
            {{'IMPORT_DESC' | translate }}    
          </mat-card-content>
          <mat-card-footer class="footer">
            <h5 mat-subheader>{{ 'DOWNLOAD_CSV_TRANSECTS' | translate }}</h5>
            <a *ngIf="!isAdmin" href="{{getCsvUrl('Transect')}}" download>
              <fa [name]="'download'" [border]=true [size]=1></fa>
            </a>
          </mat-card-footer>
          <mat-card-actions align="start">
            <button (click)="fileInputTransect.click()">
              <span>{{ 'IMPORT_CSV' | translate }}</span>
              <input #fileInputTransect type="file" (change)="handleUploadCsv($event, 'transect')" formControlName="transectInputFile" style="display:none;"  accept=".csv"/>
            </button>

            <button class="btn-danger" *ngIf="csvFileTransect" (click)="deleteCsv('transect')">
              <span>{{ 'DELETE_CSV' | translate }}</span>
            </button>
            <div *ngIf="csvFileTransect">
              {{csvFileTransect.name}} {{ 'SELECTED_CSV' | translate }}
            </div>
          </mat-card-actions>

          <mat-card-content class="error" *ngIf="(error$ | async)  !== null" align="center">{{ 'ERROR_CSV_FIELD' | translate }} {{ error$ | async }}</mat-card-content>
          <mat-card-content class="msg" *ngIf="(importError$ | async)?.length === 0 && csvFileTransect !== null && (error$ | async) === null" align="start">{{ 'VALID_DATA' | translate }}</mat-card-content>

          <mat-card-actions align="start" *ngIf="(importError$ | async)?.length > 0">
            <h2 class="errorList">{{'LIST_ERROR_TRANSECT' | translate}}</h2>
            <mat-list>
              <div *ngFor="let transect of (importError$ | async)">
                <mat-list-item class="errorList"> 
                  {{transect}}
                </mat-list-item>
              </div>
            </mat-list>
          </mat-card-actions>

        </mat-card>
      </div>
      <div class="align-right">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step [optional]="true" class="survey">
      <ng-template matStepLabel><div [ngClass]="((importError$ | async)?.length === 0 && csvFileSurvey !== null && (error$ | async) === null) ? 'valid' : ''">Surveys</div></ng-template>

      <div >
        <mat-card class="no-box-shadow">
          <mat-card-title-group>
            <mat-card-title>{{'IMPORT_CSV' | translate }} Surveys</mat-card-title> 
            <fa mat-card-sm-image [name]="'upload'" [border]=true [size]=2></fa> 
          </mat-card-title-group>
          <mat-card-content>
            {{'IMPORT_DESC' | translate }}    
          </mat-card-content>
          <mat-card-content class="warn">
            {{'IMPORT_DESC_DATE' | translate }}      
          </mat-card-content>
          <mat-card-footer class="footer">
            <h5 mat-subheader>{{ 'DOWNLOAD_CSV_SURVEYS' | translate }}</h5>
            <a *ngIf="!isAdmin" href="{{getCsvUrl('Survey')}}" download>
              <fa [name]="'download'" [border]=true [size]=1></fa>
            </a>
          </mat-card-footer>
          <mat-card-actions align="start">
            <button (click)="fileInputSurvey.click()">
              <span>{{ 'IMPORT_CSV' | translate }}</span>
              <input #fileInputSurvey type="file" (change)="handleUploadCsv($event, 'survey')" formControlName="surveyInputFile" style="display:none;"  accept=".csv"/>
            </button>

            <button class="btn-danger" *ngIf="csvFileSurvey" (click)="deleteCsv('survey')">
              <span>{{ 'DELETE_CSV' | translate }}</span>
            </button>
            <div *ngIf="csvFileSurvey">
              {{csvFileSurvey.name}} {{ 'SELECTED_CSV' | translate }}
            </div>
          </mat-card-actions>
          <mat-card-content class="error" *ngIf="(error$ | async)  !== null" align="center">{{ 'ERROR_CSV_FIELD' | translate }} {{ error$ | async }}</mat-card-content>
          <mat-card-content class="msg" *ngIf="(importError$ | async)?.length === 0 && csvFileSurvey !== null && (error$ | async) === null" align="start">{{ 'VALID_DATA' | translate }}</mat-card-content>

          <mat-card-actions align="start" *ngIf="(importError$ | async)?.length > 0">
            <h2 class="errorList">{{'LIST_ERROR_SURVEY' | translate}}</h2>
            <mat-list>
              <div *ngFor="let survey of (importError$ | async)">
                <mat-list-item class="errorList"> 
                  {{survey}}
                </mat-list-item>
              </div>
            </mat-list>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="align-right">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step [optional]="true" class="count">
      <ng-template matStepLabel><div [ngClass]="((importError$ | async)?.length === 0 && csvFileCount !== null && (error$ | async) === null) ? 'valid' : ''">Counts</div></ng-template>
      <div >
        <mat-card class="no-box-shadow">
          <mat-card-title-group>
            <mat-card-title>{{'IMPORT_CSV' | translate }} Counts</mat-card-title> 
            <fa mat-card-sm-image [name]="'upload'" [border]=true [size]=2></fa> 
          </mat-card-title-group>
          <mat-card-content>
            {{'IMPORT_DESC' | translate }}    
          </mat-card-content>
          <mat-card-content class="warn">
            {{'IMPORT_DESC_DATE' | translate }}      
          </mat-card-content>
          <mat-card-footer class="footer">
            <h5 mat-subheader>{{ 'DOWNLOAD_CSV_COUNTS' | translate }}</h5>
            <a *ngIf="!isAdmin" href="{{getCsvUrl('Count')}}" download>
              <fa [name]="'download'" [border]=true [size]=1></fa>
            </a>
          </mat-card-footer>
          <mat-card-actions align="start">
            <button (click)="fileInputCount.click()">
              <span>{{ 'IMPORT_CSV' | translate }}</span>
              <input #fileInputCount type="file" (change)="handleUploadCsv($event, 'count')" formControlName="countInputFile" style="display:none;"  accept=".csv"/>
            </button>
            <button class="btn-danger" *ngIf="csvFileCount" (click)="deleteCsv('count')">
              <span>{{ 'DELETE_CSV' | translate }}</span>
            </button>
            <div *ngIf="csvFileCount">
              {{csvFileCount.name}} {{ 'SELECTED_CSV' | translate }}
            </div>
          </mat-card-actions>

          <mat-card-content class="error" *ngIf="(error$ | async)  !== null" align="center">{{ 'ERROR_CSV_FIELD' | translate }} {{ error$ | async }}</mat-card-content>
          <mat-card-content class="msg" *ngIf="(importError$ | async)?.length === 0 && csvFileCount !== null && (error$ | async) === null" align="start">{{ 'VALID_DATA' | translate }}</mat-card-content>

          <mat-card-actions align="start" *ngIf="(importError$ | async)?.length > 0">
            <h2 class="errorList">{{'LIST_ERROR_COUNT' | translate}}</h2>
            <mat-list>
              <div *ngFor="let count of (importError$ | async)">
                <mat-list-item class="errorList"> 
                  {{count}}
                </mat-list-item>
              </div>
            </mat-list>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="align-right">
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>