 :host {
      display: flex;
      justify-content: center;
      margin: 72px 0;
    }
md-card {
    min-width: 500px;
}

md-card-title {
    font-style: italic;
}
md-card-content, md-card-actions {
    display: flex;
    justify-content:space-around;
}
md-card-content.one{
    display: flex;
    justify-content:start;
}
.actions {
  display: flex;
  justify-content: space-between;
}
.table {
    display: flex;
    justify-content:space-between;
}