 :host {
      display: flex;
      justify-content: center;
      margin: 72px 0;
    }
mat-card {
    min-width: 500px;
}

mat-card-title {
    font-style: italic;
}
mat-card-content, mat-card-actions {
    display: flex;
    justify-content:space-around;
}
mat-card-content.one{
    display: flex;
    justify-content:start;
}
.actions {
  display: flex;
  justify-content: space-between;
}
.table {
    display: flex;
    justify-content:space-between;
}

.soustexte {
  color: #888;
  font-style: italic;
}

.link {
  cursor: pointer;
}