<mat-card *ngIf="site">
      <mat-card-title-group>      
          <mat-card-title><fa [name]="'map-marker'" [border]=false [size]=1 ></fa> {{ site.code }}</mat-card-title>
      </mat-card-title-group>
      
      <mat-card-content>
          <div>{{ site.description }}</div> 
      </mat-card-content>

      <div>
        <mat-list *ngIf="site.zones" flex>
          <mat-card-subtitle class="mat-no-sticky">{{ 'ZONES' | translate }}</mat-card-subtitle>
          <mat-list-item class="link"  *ngFor="let zone of site.zones;" (click)="visitZone(zone.code)">
              <fa [name]="'street-view'" [border]=false [size]=1 ></fa>
              <p>{{zone.code}} -<span class="soustexte">{{zone.transects.length}} transects, {{zone.zonePreferences.length}} zones de préférence espèces</span></p>
          </mat-list-item>
        </mat-list>
     </div>

      <mat-card-actions align="space-between">
        <button mat-raised-button color="warn" (click)="edit.emit(site)">
        Edit Site
        </button>
        <button mat-raised-button color="warn" (click)="deleteSite()">
        Remove Site
        </button>

      </mat-card-actions>
</mat-card>