<md-card *ngIf="site">
      <md-card-title-group>      
          <md-card-title>{{ 'SITE' | translate }} {{ site.code }}</md-card-title>
      </md-card-title-group>
      
      <md-card-content>
        <div>
          <h4>{{ 'DESC' | translate }}</h4>
          <div>{{ site.description }}</div> 
        </div>
      </md-card-content>

      <md-card-title *ngIf="site.zones">{{ 'ZONES' | translate }}</md-card-title>
      <bc-zone *ngFor="let zone of site.zones" [zone]="zone"></bc-zone>

      <md-card-actions align="space-between">
        <button md-raised-button color="warn" (click)="edit.emit(site)">
        Edit Site
        </button>
        <button md-raised-button color="warn" (click)="deleteSite()">
        Remove Site
        </button>

      </md-card-actions>
</md-card>