
<form [formGroup]="form" (ngSubmit)="submit()">  
  <div>
  <mat-card class="actions">
    <mat-card-title>{{ 'ADD_SPECIES' | translate}}</mat-card-title>
    
    <mat-card-content>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">{{ 'SUBMIT' | translate }}</button>
      <button (click)="return()" class="back">{{ 'CANCEL' | translate }}</button>
      <p *ngIf="errorMessage" class="speciesError">{{ errorMessage }}</p>  
    </mat-card-content>
  </mat-card>
</div>
<div class="insideform">
  <bt-chips (send)="submit()" id="SPECIES_NOMS"></bt-chips>
  <mat-card class="row" id="SPECIES_NOMS">
    <h5 mat-subheader>{{ 'SPECIES_NAMING' | translate }}</h5>
    <mat-form-field>
      <input type="text" matInput placeholder="{{ 'SPECIES_CODE' | translate }}" formControlName="code" required>
      <div class="hint">{{ 'SPECIES_CODE_EX' | translate }}</div>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="{{ 'SPECIES_SCIENTIFIC_NAME' | translate }}" formControlName="scientificName" required>
      <div class="hint">{{ 'SPECIES_SCIENTIFIC_NAME_EX' | translate }}</div>     
    </mat-form-field>

  </mat-card>
  <!--names-->
  <mat-card class="row" formArrayName="names" id="SPECIES_VERNACULAR_NAME">
    <h5 mat-subheader>{{ 'SPECIES_VERNACULAR_NAME' | translate }}</h5>
    <div *ngFor="let name of form.controls.names.controls; let i=index;" [formGroupName]="i">          
      <fa class="warn clickable" [name]="'times'" [size]=1 [pull]=right *ngIf="form.controls.names.controls.length > 1" (click)="removeName(i)"></fa>
      <bt-name [group]="form.controls.names.controls[i]"></bt-name>     
    </div>
    <mat-card-actions>
     <button mat-raised-button color="warn" (click)="addName()">
       {{ 'ADD_VERNACULAR_NAME' | translate }}
     </button>
   </mat-card-actions>
 </mat-card>

  <mat-card class="row" id="SPECIES_PICTURE">
    <h5 mat-subheader>{{ 'UPLOAD_PICTURE' | translate }}</h5>
    <mat-card-actions>
      <button  type="button" (click)="pictureInput.click()">
        <span>{{ 'IMPORT_PICTURE' | translate }}</span>
        <input #pictureInput name="picture" (change)="addPicture($event)" type="file" style="display:none;"  accept="image/*"/>
      </button>
    </mat-card-actions>
    <img mat-card-sm-image *ngIf="url" [src]="url" />
  </mat-card>

 <bt-chips (send)="submit()" id="SPECIES_COEFS"></bt-chips>
 <mat-card class="row">
  <h5 mat-subheader>{{ 'SPECIES_COEF_LLW' | translate }}</h5>
  <div formGroupName="LLW">
    <mat-form-field>
      <input type="text" matInput placeholder="{{ 'SPECIES_COEF_COEFA' | translate }}" formControlName="coefA" required>
      <div class="hint">{{ 'SPECIES_COEF_LLW_COEFA_EX' | translate }}</div>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="{{ 'SPECIES_COEF_COEFB' | translate }}" formControlName="coefB" required>
      <div class="hint">{{ 'SPECIES_COEF_LLW_COEFB_EX' | translate }}</div>    
    </mat-form-field>
  </div>
</mat-card>
<mat-card class="row">
  <h5 mat-subheader>{{ 'SPECIES_COEF_LW' | translate }}</h5>
  <div formGroupName="LW">
    <mat-form-field>
      <input type="text" matInput placeholder="{{ 'SPECIES_COEF_COEFA' | translate }}" formControlName="coefA" required>
      <div class="hint">{{ 'SPECIES_COEF_LLW_COEFA_EX' | translate }}</div>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="{{ 'SPECIES_COEF_COEFB' | translate }}" formControlName="coefB" required>
      <div class="hint">{{ 'SPECIES_COEF_LLW_COEFB_EX' | translate }}</div>    
    </mat-form-field>
  </div>
</mat-card>
<bt-chips (send)="submit()" id="SPECIES_CONVERSIONS"></bt-chips>
<mat-card class="row">
  <h5 mat-subheader>{{ 'SPECIES_CONVERSIONS' | translate }}</h5>
  <div formGroupName="conversions">
    <mat-form-field>
      <input type="text" matInput placeholder="{{ 'SPECIES_CONVERSIONS_SALT' | translate }}" formControlName="salt" required>
      <div class="hint">{{ 'SPECIES_CONVERSIONS_SALT_EX' | translate }}</div>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="{{ 'SPECIES_CONVERSIONS_BDM' | translate }}" formControlName="BDM" required>
      <div class="hint">{{ 'SPECIES_CONVERSIONS_BDM_EX' | translate }}</div>    
    </mat-form-field>
  </div>
</mat-card>
<mat-card class="row">
  <h5 mat-subheader>{{ 'SPECIES_DIMS' | translate }}</h5>
  <div formGroupName="biologicDimensions">
    <mat-form-field>
      <input type="text" matInput placeholder="{{ 'SPECIES_DIMS_LONG_MAX' | translate }}" formControlName="longMax" required>
      <div class="hint">{{ 'SPECIES_DIMS_LONG_MAX_EX' | translate }}</div>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="{{ 'SPECIES_DIMS_LARG_MAX' | translate }}" formControlName="largMax" required>
      <div class="hint">{{ 'SPECIES_DIMS_LARG_MAX_EX' | translate }}</div>    
    </mat-form-field>
  </div>
</mat-card>
<bt-chips (send)="submit()" id="SPECIES_VIE"></bt-chips>
<mat-card class="column">
  <h5 mat-subheader>{{ 'SPECIES_DISTRIB' | translate }}</h5>

  <mat-form-field>
    <textarea rows="2" matInput formControlName="distribution"  mat-select-on-focus></textarea>
    <div class="hint">{{ 'SPECIES_DISTRIB_EX' | translate }}</div>
  </mat-form-field>

</mat-card>
<mat-card class="column">
  <h5 mat-subheader>{{ 'SPECIES_HABITATS' | translate }}</h5>

  <mat-form-field>
    <textarea mat-maxlength="150" rows="5" matInput formControlName="habitatPreference"  mat-select-on-focus></textarea>
    <div class="hint">{{ 'SPECIES_HABITATS_EX' | translate }}</div>
  </mat-form-field>

</mat-card>
<bt-chips (send)="submit()" id="SPECIES_FISHING_DIMS"></bt-chips>
<!--legal dims-->
<mat-card class="row" formArrayName="legalDimensions">
  <h5 mat-subheader>{{ 'SPECIES_FISHING_DIMS' | translate }} </h5>
  <div *ngFor="let name of form.controls.legalDimensions.controls; let j=index;" [formGroupName]="j">          
    <fa class="warn clickable" [name]="'times'" [border]=false [size]=1 [pull]=right *ngIf="form.controls.legalDimensions.controls.length > 1" (click)="removeLegalDim(j)"></fa>
    <bt-dim [group]="form.controls.legalDimensions.controls[j]" [countries]="countries" [alreadySetCountries$]="alreadySetCountries$"
            (changeCountry)="echangeCountry($event)"></bt-dim>
  </div>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="addLegalDim()">
     {{ 'ADD_FISHING_DIMS' | translate }}
   </button>
 </mat-card-actions>
</mat-card>
</div>
</form>
