 :host {
      display: flex;
      justify-content: center;
      margin: 72px 0;
    }
mat-card {
    min-width: 500px;
}
mat-card-title {
    font-style: italic;
}
mat-card-content, mat-card-actions {
    display: flex;
    justify-content:space-around;
}
mat-card-content.one{
    display: flex;
    justify-content:start;
}
.mat-card-sm-image {
  width: auto !important;
  margin-left: 15px;
}
.actions {
  display: flex;
  justify-content: space-between;
}
.table {
    display: flex;
    justify-content:space-between;
}
.codename {
  font-size: smaller;
}
.smallcaps {
  font-variant: all-small-caps;
}
.flexcolumn {
  flex-direction: column;
}
.warn {
  background-color: #d9534f;
}