<mat-card class="actions" *ngIf="species">
      <mat-card-title-group class="main-title">      
        <div>
          <mat-card-title><a class="link" (click)="toSpecies()">{{ 'SPECIES_LIST' | translate}}</a> /  {{ species.scientificName }} <span class="codename">({{ species.code }})</span></mat-card-title>
          <mat-card-subtitle *ngFor="let name of species.names">{{ name.lang }}: {{ name.name }}</mat-card-subtitle>
        </div>
          <img mat-card-sm-image *ngIf="flag" [src]="flag">
          <mat-card-content class="error" *ngIf="error$ | async" align="center">{{ error$ | async }}</mat-card-content>
      </mat-card-title-group>
      <mat-card-actions>
        <mat-form-field>
          <mat-select  placeholder="{{'ACTIONS' | translate}}" (change)="actions($event.value)">
              <mat-option [value]="'speciesForm'">{{ 'EDIT_SPECIES' | translate}}</mat-option>
              <mat-option *ngIf="isAdmin" class="warn" [value]="'deleteSpecies'">{{ 'DELETE_SPECIES' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>        
      </mat-card-actions> 
</mat-card>
<div class="data">
      <mat-card>     
          <h5 mat-subheader>{{ 'LLW' | translate }}</h5>
          <mat-card-content>
            <span class="greyed">{{ 'COEFA' | translate }}:</span> <span>{{ species.LLW.coefA }}</span>
          </mat-card-content>
          <mat-card-content>
           <span class="greyed">{{ 'COEFB' | translate }}:</span> <span>{{ species.LLW.coefB }}</span>
          </mat-card-content>
      </mat-card>
      <mat-card>
          <h5 mat-subheader>{{ 'LW' | translate }}</h5>
          <mat-card-content>
            <span class="greyed">{{ 'COEFA' | translate }}:</span> <span>{{ species.LW.coefA }}</span>
          </mat-card-content>
          <mat-card-content>
            <span class="greyed">{{ 'COEFB' | translate }}:</span> <span>{{ species.LW.coefB }}</span>
          </mat-card-content>
      </mat-card>
</div>
<div class="data">
      <mat-card>        
          <h5 mat-subheader>{{ 'CONVERSIONS' | translate }}</h5>
          <mat-card-content>
            <span class="greyed">{{ 'SALT' | translate }}:</span> <span>{{ species.conversions.salt }}</span>
          </mat-card-content>
          <mat-card-content>
            <span class="greyed">{{ 'BDM' | translate }}:</span> <span>{{ species.conversions.BDM }}</span>
          </mat-card-content>
      </mat-card>
      <mat-card>
          <h5 mat-subheader>{{ 'BIOLOGIC_DIM' | translate }}</h5>
          <mat-card-content>
            <span class="greyed">{{ 'LONG_MAX' | translate }}:</span> <span>{{ species.biologicDimensions.longMax }}{{ 'MILLIMETER_ABR' | translate }}</span>
          </mat-card-content>
          <mat-card-content>
            <span class="greyed">{{ 'LARG_MAX' | translate }}:</span> <span>{{ species.biologicDimensions.largMax }}{{ 'MILLIMETER_ABR' | translate }}</span>
          </mat-card-content>
      </mat-card>
</div>
<div class="data">
      <mat-card>
          <h5 mat-subheader>{{ 'DISTRIBUTION' | translate }}</h5>
          <mat-card-content>{{ species.distribution }}</mat-card-content>
      </mat-card>
      <mat-card>
          <h5 mat-subheader>{{ 'HABITAT_PREF' | translate }}</h5>
          <mat-card-content>{{ species.habitatPreference }}</mat-card-content>
      </mat-card>
</div>

<hr class="hr-text" [attr.data-content]="'LEGAL_DIM_COUNTRIES' | translate">

<div class="inside">
      <mat-card *ngFor="let dim of species.legalDimensions">
        <h5 mat-subheader>{{ 'LEGAL_DIM' | translate }} {{ getCountryName(dim.codeCountry) }} </h5>   
        <mat-card-content>                   
          <span class="greyed">{{ 'LONG_MIN' | translate }}:</span> <span>{{ dim.longMin }}{{ 'MILLIMETER_ABR' | translate }}</span>
        </mat-card-content>
        <mat-card-content> 
          <span class="greyed">{{ 'LONG_MAX' | translate }}:</span> <span>{{ dim.longMax }}{{ 'MILLIMETER_ABR' | translate }}</span>
        </mat-card-content>
      </mat-card>
</div>

