<mat-card>
      <mat-card-title>{{'BDMER_LOGIN' | translate}}</mat-card-title>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <p>
            <fa [name]="'user-o'" [border]=false [size]=2></fa>
            <mat-input-container>
              <input type="text" matInput placeholder="{{'USERNAME' | translate}}" formControlName="username">
            </mat-input-container>
          </p>
          <p>
            <fa [name]="'key'" [border]=false [size]=2></fa>
            <mat-input-container>
              <input type="password" matInput placeholder="{{'PASSWORD' | translate}}" formControlName="password">
            </mat-input-container>
          </p>
          <p *ngIf="errorMessage" class="loginError">
            {{ errorMessage }}
          </p>    

          
          <p class="loginButtons">
            <button type="submit" mat-button>{{'LOGIN' | translate}}</button>
          </p>

          <div class="actionButtons">
            <a [routerLink]="['/lostpassword']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'FORGOT_PASSWORD' | translate}}</a>
          </div>
        </form>
      </mat-card-content>

    </mat-card>