<md-card>
      <md-card-title>Signup</md-card-title>
      <md-card-content>
        <form name="register" [formGroup]="form" (ngSubmit)="submit()">
          <p>
            <md-input-container>
              <input type="text" mdInput placeholder="First name" formControlName="surname" ng-model="user.firstname" required>
            </md-input-container>
          </p>
          <p>
            <md-input-container>
              <input type="text" mdInput placeholder="Last name" formControlName="name" ng-model="user.lastname" required>
            </md-input-container>
          </p>
          <p>
            <md-input-container>
              <input type="email" mdInput placeholder="Email" formControlName="email" ng-model="user.email" class="validate" required>
            </md-input-container>             
          </p>
          <p>
            <md-input-container>
              <input type="password" mdInput placeholder="Password" formControlName="password" ng-model="password" ng-minlength='6' class="validate" required>
            </md-input-container>
          </p>
          <p>
            <md-input-container>
              <input type="text" mdInput placeholder="Country" formControlName="country" ng-model="user.country" class="validate" required>
            </md-input-container>
          </p>     
          <p *ngIf="errorMessage" class="loginError">
            {{ errorMessage }}
          </p>   
        
          <p class="loginButtons">
            <button type="submit" md-button>Register</button>
          </p>
        </form>
      </md-card-content>
    </md-card>