
<mat-card class="actions">

  <mat-card-title>
    <a class="link" (click)="toPlatforms()">{{ 'PLATFORM_LIST' | translate}}</a> / 
    <a class="link" (click)="toPlatform()">{{ 'PLATFORM' | translate}} {{ platform.code }}</a> / 
    <a class="link" (click)="toZone()">{{ 'ZONE' | translate}} {{ zone.code }}</a> /
    {{ 'ZONE_PREF' | translate}} {{ zonePref.code }}
  </mat-card-title>
  <mat-card-actions>
    <mat-form-field>
      <mat-select  placeholder="{{'ACTIONS' | translate}}" (selectionChange)="actions($event.value)">
        <mat-option [value]="'zonePrefForm'">{{ 'EDIT_ZONE_PREF' | translate}}</mat-option>
        <mat-option class="warn" [value]="'deleteZonePref'">{{ 'DELETE_ZONE_PREF' | translate}}</mat-option>
      </mat-select>
    </mat-form-field>        
  </mat-card-actions> 
</mat-card>

  <div class="inside">

    <mat-card>
      <mat-card-content>
        <img mat-card-sm-image *ngIf="thumbnailZone" [src]="thumbnailZone"/>
        <img mat-card-sm-image *ngIf="thumbnailSpecies" [src]="thumbnailSpecies"/>
      </mat-card-content>
      <mat-card-content class="content">
        <div><span class="title">{{ 'ZONE_CODE' | translate }} :</span> {{ zonePref.codeZone }}</div>   
        <div><span class="title">{{ 'SPECIES_CODE' | translate }} :</span> {{ zonePref.codeSpecies }}</div> 
        <div><span class="title">{{ 'PRESENCE' | translate }} :</span> {{ zonePref.presence }}</div> 
        <div><span class="title">{{ 'INFO_SOURCE' | translate }} :</span> {{ zonePref.infoSource }}</div> 
      </mat-card-content>
    </mat-card>
    
  </div>
