
    <mat-card class="actions">
      
      <mat-card-title>
        <a class="link" (click)="toSites()">{{ 'SITE_LIST' | translate}}</a> / 
        <a class="link" (click)="toSite()">{{ 'SITE' | translate}} {{ site.code }}</a> / 
        <a class="link" (click)="toZone()">{{ 'ZONE' | translate}} {{ zone.code }}</a> /
        {{ 'ZONE_PREF' | translate}} {{ zonePref.code }}
      </mat-card-title>
      <mat-card-content>
        <div>{{ 'ZONE_CODE' | translate }} : {{ zonePref.codeZone }}</div>         
      </mat-card-content>
      <mat-card-content>
        <div>{{ 'SPECIES_CODE' | translate }} : {{ zonePref.codeSpecies }}</div> 
      </mat-card-content>
      <mat-card-content>
        <div>{{ 'PRESENCE' | translate }} : {{ zonePref.presence }}</div> 
      </mat-card-content>      
      <mat-card-content>
        <div>{{ 'INFO_SOURCE' | translate }} : {{ zonePref.infoSource }}</div> 
      </mat-card-content>
      <mat-card-content>
        <img mat-card-sm-image *ngIf="thumbnailZone" [src]="thumbnailZone"/>
        <img mat-card-sm-image *ngIf="thumbnailSpecies" [src]="thumbnailSpecies"/>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="edit.emit(zonePref)">{{ 'EDIT' | translate }}</button>
        <button class="warn" (click)="deleteZonePref(zonePref)">{{ 'DELETE' | translate }}</button>        
      </mat-card-actions>       
    </mat-card>
 