mat-card {
  display: flex;
  flex-direction: column;
}

.actions {
  text-align: center;
}
.inside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      margin: 72px 0;
    }
.inside mat-card {
      flex-grow: 1;
      margin:auto;
      text-align: center;
      padding: 1em 2em;
}

mat-card-title {
    font-style: italic;
}
mat-card-content {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
}
mat-card-content.one{
    display: flex;
    justify-content: flex-start;
}
mat-card-actions {
  display: flex;
  justify-content: center;
}
mat-form-field {
  margin-left:50px;
}
.warn:hover {
   background-color: #d9534f;
}
.link {
  cursor: pointer;
  text-decoration: underline;
}
.content {
  text-align: left;
  line-height: 1.5em;
}
.title {
  font-weight: bold;
}