
    <mat-card class="actions">
      <img mat-card-sm-image *ngIf="thumbnail" [src]="thumbnail"/>
      <mat-card-title>{{ 'ZONE_PREF' | translate}} {{ zonePref.code }}</mat-card-title>
      <mat-card-content>
        <div>{{ 'ZONE_CODE' | translate }} : {{ zonePref.codeZone }}</div> 
      </mat-card-content>
      <mat-card-content>
        <div>{{ 'ZONE_SPECIES' | translate }} : {{ zonePref.codeSpecies }}</div> 
      </mat-card-content>
      <mat-card-content>
        <div>{{ 'PRESENCE' | translate }} : {{ zonePref.presence }}</div> 
      </mat-card-content>      
      <mat-card-content>
        <div>{{ 'INFO_SOURCE' | translate }} : {{ zonePref.infoSource }}</div> 
      </mat-card-content>
      <mat-card-actions>
        <button (click)="edit.emit(zonePref)">{{ 'EDIT' | translate }}</button>
        <button class="warn" (click)="deleteTransect(zone)">{{ 'DELETE' | translate }}</button>        
      </mat-card-actions>       
    </mat-card>

    <!--bc-count-preview-list [counts]="counts$ | async" [transect]="transect" [zone]="zone" [site]="site"></bc-count-preview-list-->  