
    <mat-card class="actions">
      <img mat-card-sm-image *ngIf="thumbnail" [src]="thumbnail"/>
      <mat-card-title>
        <a class="link" (click)="toPlatforms()">{{ 'PLATFORM_LIST' | translate}}</a> / 
        <a class="link" (click)="toPlatform()">{{ 'PLATFORM' | translate}} {{ platform.code }}</a> / 
        <a class="link" (click)="toZone()">{{ 'ZONE' | translate}} {{ zone.code }}</a> / 
        {{ 'TRANSECT' | translate}} {{ transect.properties.code }}</mat-card-title>
      <mat-card-content>
        <div>{{ 'COORDINATES' | translate }} : {{ transect.geometry.coordinates }}</div> 
      </mat-card-content>
      <mat-card-content>
        <img mat-card-sm-image *ngIf="transect.staticMapTransect" (click)="openDialog()" [src]="transect.staticMapTransect"/>
      </mat-card-content>
      <mat-card-actions>
        <mat-form-field>
          <mat-select  placeholder="{{'ACTIONS' | translate}}" (change)="actions($event.value)">
              <mat-option [value]="'transectForm'">{{ 'EDIT_TRANSECT' | translate}}</mat-option>
              <mat-option class="warn" [value]="'deleteTransect'">{{ 'DELETE_TRANSECT' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>        
      </mat-card-actions>       
    </mat-card>

    