<div>
  <h2>{{'ABOUT_TITLE' | translate}}</h2>
  <h3>{{'ABOUT_FEAT' | translate}}</h3>
  <div class="container">
  <md-card>
    <md-card-header>
      <md-card-title>{{'ABOUT_TITLE_FEAT1' | translate}}</md-card-title>
    </md-card-header>
    <md-card-content>
      <p>
        {{'ABOUT_FEAT1' | translate}}
      </p>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-header>
      <md-card-title>{{'ABOUT_TITLE_FEAT2' | translate}}</md-card-title>
    </md-card-header>
    <md-card-content>
      <p>
        {{'ABOUT_FEAT2' | translate}}
      </p>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-header>
      <md-card-title>{{'ABOUT_TITLE_FEAT3' | translate}}</md-card-title>
    </md-card-header>
    <md-card-content>
      <p>
        {{'ABOUT_FEAT3' | translate}}
      </p>
    </md-card-content>
  </md-card>
  </div>
  <div>
    <h3>{{'ABOUT_DOWNLOAD' | translate}}</h3>
    <a md-list-item class="link" href="{{getPdfUrl()}}" download><fa [name]="'file-pdf-o'" [size]=4 [border]=false></fa> {{getPdf()}}</a>
  </div>
</div>
