    <mat-card class="actions">
      <mat-card-title><a class="link" (click)="toPlatforms()">{{ 'PLATFORM_LIST' | translate}}</a> / <a class="link" (click)="toPlatform()">{{ 'PLATFORM' | translate}} {{ platform.code }}</a> / {{ 'ZONE' | translate}} {{ zone.properties.code }}</mat-card-title>
      <mat-card-content>
        <div>{{ 'SURFACE' | translate }} : {{ zone.properties.surface }} m²</div> 
      </mat-card-content>
      <mat-card-content>
        <img mat-card-sm-image *ngIf="zone.staticmap" (click)="openDialog()" [src]="zone.staticmap"/>
      </mat-card-content>
      <mat-card-actions>
        <mat-form-field>
          <mat-select  placeholder="{{'DISPLAY' | translate}}" (change)="display($event.value)" [formControl]="panelDisplay">
              <mat-option [value]="'zonesPref'">{{ 'ZONES_PREF' | translate}} ({{ (zonesPref$ | async).length }})</mat-option>
              <mat-option [value]="'transects'">{{ 'TRANSECTS' | translate}} ({{ (transects$ | async).length }})</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="right">
          <input type="text" matInput placeholder="{{ 'FILTER' | translate }}" [formControl]="filterFormControl" (keyup)="filter($event.target.value)">
        </mat-form-field> 
        <mat-form-field class="right">
          <mat-select  placeholder="{{'ACTIONS' | translate}}" (change)="actions($event.value)">
            <mat-optgroup [label]="'ACTION_ZONE' | translate">
              <mat-option [value]="'zoneForm'">{{ 'EDIT_ZONE' | translate}}</mat-option>
              <mat-option class="warn" [value]="'deleteZone'">{{ 'DELETE_ZONE' | translate}}</mat-option>
            </mat-optgroup>
            <mat-optgroup [label]="('ADD_TOE' | translate)+' '+('ZONE' | translate)">
              <mat-option [value]="'zonePrefForm'">{{ 'ADD_ZONE_PREF' | translate}}</mat-option>
              <mat-option [value]="'transectForm'">{{ 'ADD_TRANSECT' | translate}}</mat-option>
            </mat-optgroup>
            <mat-optgroup [label]="('IMPORT_TOE' | translate)+' '+('ZONE' | translate)">
              <mat-option [value]="'zonePrefImport'">{{ 'IMPORT' | translate}} {{ 'ZONES_PREF' | translate}}</mat-option>
              <mat-option [value]="'transectImport'">{{ 'IMPORT' | translate}} {{ 'TRANSECTS' | translate}}</mat-option>
            </mat-optgroup>          
          </mat-select>
        </mat-form-field>         
      </mat-card-actions>           
    </mat-card>
    
        <bc-zone-preference-preview-list *ngIf="(view$ | async)==='zonesPref'" [zonesPref$]="filteredZonesPrefs$" [zone]="zone" [platform]="platform"></bc-zone-preference-preview-list>

        <bc-transect-preview-list *ngIf="(view$ | async)==='transects'" [transects$]="filteredTransects$" [zone]="zone" [platform]="platform"></bc-transect-preview-list>          
     
    
   
    