<form [formGroup]="zoneForm" (ngSubmit)="submit()">  
  <div>
    <mat-card class="actions">
      <mat-card-title>{{ 'ADD_ZONE_TO' | translate}} {{ platform.code }}</mat-card-title>
      
      <mat-card-content>
        <button type="submit" class="btn btn-primary" [disabled]="!zoneForm.valid">{{ 'SUBMIT' | translate }}</button>
        <button (click)="return()" class="back">{{ 'CANCEL' | translate }}</button>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="insideform">
    <mat-card class="column">
      <h5 mat-subheader>{{ 'ZONE_DESC' | translate }}</h5>
      <div class="row" formGroupName="properties">
        <mat-input-container>
          <input type="text" matInput placeholder="{{ 'ZONE_NAME' | translate }}" formControlName="name" required>
        </mat-input-container>
      </div>

      <div class="row" formGroupName="geometry">
        <mat-input-container>
          <input type="text" matInput placeholder="{{ 'ZONE_COORD' | translate }}" (change)="coordChange($event)" formControlName="coordinates" [errorStateMatcher]="matcher" required>
          <div class="hint">{{'ZONE_COORD_EX' | translate}}</div>
        </mat-input-container>
      </div>
      <p *ngIf="errorMessage" class="error">{{ 'POLYGON_ERROR' | translate }}</p>     
      <p *ngIf="errorCoord" class="error">{{ 'POLYGON_ERROR' | translate }}</p>  
      <img mat-card-sm-image *ngIf="url" [src]="url" />
    </mat-card>
  </div>

</form>