<div>
    <mat-card class="actions">
      <mat-card-title>{{ 'IMPORT_ZONES' | translate}}</mat-card-title>
      <mat-card-content>
        <button *ngIf="importKmlFile === null; else activedbutton" (click)="send()" class="btn btn-disabled" disabled>{{ 'SEND' | translate }}</button>
        <ng-template #activedbutton>
          <button (click)="send()" class="btn send">{{ 'SEND' | translate }}</button>
        </ng-template>
        <button (click)="cancel()" class="btn btn-danger">{{ 'CANCEL' | translate }}</button>
      </mat-card-content>
      <mat-card-content class="error" *ngIf="error" align="center">{{ error }}</mat-card-content>
      <mat-card-content class="msg" *ngIf="msg" align="start">{{ msg | translate }}</mat-card-content>
      <mat-card-content class="warn" *ngIf="(intersectError$ | async)==='checking'" align="start">{{ 'CHECKING' | translate }}</mat-card-content>
    </mat-card>
</div>
<div class="insideform" [formGroup]="zoneForm">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>{{'IMPORT_KML' | translate }}</mat-card-title>
      <fa mat-card-sm-image [name]="'upload'" [border]=true [size]=2></fa>
    </mat-card-title-group>
    <mat-card-content>
      {{'IMPORT_DESC_KML' | translate }}
    </mat-card-content>
    <mat-card-content *ngIf="platform && platform.zones && platform.zones.length>0" class="warn">
      {{'IMPORT_ZONE_WARNING' | translate }}
    </mat-card-content>
    <mat-card-footer class="footer">
      <h5 mat-subheader>{{ 'DOWNLOAD_KML_ZONES' | translate }}</h5>
      <a *ngIf="!isAdmin" href="{{getKmlZonesUrl()}}" download>
          <fa [name]="'download'" [border]=true [size]=1></fa>
      </a>
    </mat-card-footer>
    <mat-card-actions align="start">
      <button (click)="fileInput.click(); clearInput()">
        <span>{{ 'IMPORT_KML' | translate }}</span>
        <input #fileInput type="file" formControlName="zoneInput" (change)="handleUpload($event)" style="display:none;"  accept=".kml"/>
      </button>
    </mat-card-actions>
    <bc-zone-import-map (zoneIntersect)="zoneIntersect($event)" [platform]="platform" [countries]="countries" [geojsons]="geojsons$ | async" class="wrapp_right"></bc-zone-import-map>
  </mat-card>
</div>
